thead tr
{
	text-align: left;
	font-size: 110%;
	border: 10px solid black;
}

thead th 
{
	text-align: left;
	padding-top: 0.4ex;
	padding-bottom: 0.4ex;
}


.colloquium-summary thead th.date
{
    width: 10em;
}

.colloquium-summary thead th.speaker
{
    width: 20em;
	/* reset below value from italic */
	font-style: normal;
}

.colloquium-summary thead th.title
{
    width: 30em;
}
