{% extends "base.html" %}
{% block banner %}<div id="banner"><h1>Anton Pannekoek Observatory</h1></div>{% endblock banner %}
{% block breadcrumbs %}{{ block.super }} &#187; <a href="{% url 'apo:index' %}">News</a>{% endblock breadcrumbs %}
{% block sidemenu %}{% include "apo/sidemenu.html" %}{% endblock sidemenu %}
