{% extends "wiki/base2.html" %}
{% block title %}API wiki - List of all pages{% endblock title %}

{% block contents %}
<h1>List of all pages</h1>

{% if category_pages %}
<h2>Category pages</h2>
<ul>
{% for page in category_pages %}
  <li> <a href="{{ page.get_absolute_url2 }}">{{ page.name }}</a> </li>
{% endfor %}
</lu>
{% endif %}

{% if normal_pages %}
<h2>Other pages</h2>
<ul>
{% for page in normal_pages %}
  <li> <a href="{{ page.get_absolute_url2 }}">{{ page.name }}</a> </li>
{% endfor %}
</lu>
{% endif %}
{% endblock contents %}
