{% extends "wiki/base.html" %}
{% block title %}{{ page.name }}{% endblock title %}

{% block contents %}


<form method="POST" action="{% url 'wiki:delete' name=page.name %}"> {% csrf_token %}
<em>{{ page.name }}: delete this page?</em>
<br />
<input type="submit" name="result" value="Delete" />
<input type="button" value="Cancel" onclick="window.location.href='{% url 'wiki:view' name=page.name %}'" />
</form>

<hr />

{{ page.html|safe }}

{% endblock contents %}
