{% url 'internal:index' as internal_index %}
{% url 'internal:addresses' as internal_addresses %}
{% url 'internal:addresses-phonelist' as internal_addresses_phonelist %}
{% url 'account:login' as account_login %}
{% url 'account:logout' as account_logout %}
{% url 'account:password-change' as account_password_change %}
{% url 'internal:edit-profile' as internal_edit_profile  %}
{% url 'internal:create-profile' as internal_create_profile  %}
{% url 'internal:show-profile' as internal_show_profile  %}
{% url 'internal:observatory' as internal_observatory  %}
{% url 'staffmeetings:index' as staffmeetings_index %}
{% url 'agenda:index' as agenda_index %}
{% url 'apogee:index' as apogee_index %}
{% url 'library:index' as library_index %}
{% url 'internal:logo' as internal_logo %}
{% url 'wiki:view' name="main-wikipage" as wiki_main %}
{% url 'wiki:create' as wiki_create %}
{% url 'wiki:all' as wiki_allpages %}
{% url 'wiki:view' name="help-editing-wikipage" as wiki_editing %}

<ul>
  <li> <a {% ifequal request.path internal_index %}class="active" {% endifequal %} href="{{ internal_index }}">Internal</a>
    <ul>
      <li> <a {% ifequal request.path account_login %}class="active" {% endifequal %} href="{{ account_login }}">Login</a> </li>
      <li> <a {% ifequal request.path internal_logout %}class="active" {% endifequal %} href="{{ account_logout }}">Logout</a> </li>
      <li> <a {% ifequal request.path internal_password_change %}class="active" {% endifequal %} href="{{ account_password_change }}">Change Password</a> </li>
      <li> <a {% ifequal request.path internal_edit_profile %}class="active" {% endifequal %}{% ifequal request.path internal_create_profile %}class="active" {% endifequal %} href="{{internal_edit_profile}}">Edit Profile</a> </li>
      <li> <a {% ifequal request.path internal_show_profile %}class="active" {% endifequal %} href="{{internal_show_profile}}">Show Profile</a> </li>
      <li> <a {% ifequal request.path internal_addresses %}class="active" {% endifequal %} href="{{ internal_addresses }}">Address list</a> </li>
      <li> <a {% ifequal request.path library_index %}class="active" {% endifequal %}href="{{ library_index }}">Library</a> </li>
      <li> <a {% ifequal request.path internal_observatory %}class="active" {% endifequal %}href="{{ internal_observatory }}">Observatory (apo)</a> </li>
      <li> <a {% ifequal request.path apogee_index %}class="active" {% endifequal %}href="{{ apogee_index }}">APO Agenda</a> </li>
      <li> <a {% ifequal request.path staffmeetings_index %}class="active" {% endifequal %}href="{{ staffmeetings_index }}">API staff meetings</a> </li>
      <li> <a {% ifequal request.path agenda_index %}class="active" {% endifequal %}href="{{ agenda_index }}">API Agenda</a> </li>
      <li> <a {% ifequal request.path internal_logo %}class="active" {% endifequal %}href="{{ internal_logo }}">API logo</a> </li>
      <li> <a {% ifequal request.path wiki_main %}class="active" {% endifequal %}href="{{ wiki_main }}">Wiki</a>
        <ul>
          <li> <a {% ifequal request.path wiki_allpages %}class="active" {% endifequal %}href="{{ wiki_allpages }}">List of all pages</a> </li>
          <li> <a {% ifequal request.path wiki_create %}class="active" {% endifequal %}href="{% url 'wiki:create' %}">Create a new page</a> </li>
          <li> <a {% ifequal request.path wiki_editing %}class="active" {% endifequal %}href="{{ wiki_editing }}">Help on editing</a> </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
