{% extends "wiki/base.html" %}
{% block title %}API wiki - {{ page.name }}{% endblock title %}

{% block contents %}
{{ page.html|safe }}
<hr>
<p class="note right">
<a href="/internal/wiki/edit/{{ page.name }}">Edit page</a> &nbsp; | &nbsp;
<a href="/internal/wiki/delete/{{ page.name }}">Delete page</a>
</p>
{% endblock contents %}
