{% extends "education/projects/bachelor/base.html" %}
{% block title %}API - education: {{ object.title }}{% endblock title %}
{% block contents %}
<h1>{{ object.title }}</h1>

{{ object.text|urlize|linebreaks }}

<div style="border-top: 1px solid #666; margin-top: 1ex; padding-top: 1ex;">
Contact: {{ object.contact|urlize }}
</div>

{% endblock contents %}
