{% extends "publiek/base.html" %}
{% block title %}API - educatieve activiteiten{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'publiek:educatie' %}">Educatieve Activiteiten</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>Rondleidingen door het Observatorium</h1>

<p>
Voor groepen van 15-40 personen is het mogelijk om een rondleiding te boeken door het Anton Pannekoek Observatorium (APO). Dit kunt u doen door een e-mail te sturen aan Esther Hanko (e.hanko@uva.nl). Er kunnen maximaal 40 personen tegelijk een rondleiding krijgen. Een rondleiding duurt maximaal 45 minuten. Er zijn geen kosten aan verbonden, wel wordt een kleinigheid voor de rondleider zeer gewaardeerd. Tevens vragen wij u om een rondleiding ruim op tijd aan te vragen: 4-6 weken van te voren. Een rondleiding kan tussen 10:00 en 22:00 gegeven worden. Bij mooi weer kan overdag naar de zon en ’s avonds naar de sterren gekeken worden.
</p>

<p>
Wij hebben uiteraard geen invloed op het weer. Als u graag een specifiek object (bijvoorbeeld de maan, Saturnus) wilt zien, of iets wilt horen over een specifiek onderwerp, geeft u dat dan van te voren aan, dan kunnen wij hier rekening mee houden met het plannen van de rondleidingen. Ook kunt u zelf met behulp van bijvoorbeeld de website hemel.waarnemen.com alvast uitzoeken of het betreffende object op de gewenste datum en tijd wel zichtbaar is. Wij kunnen u hier ook bij helpen.
</p>

{% endblock contents %}
