{% extends "research/base.html" %}
{% block title %}API - research{% endblock title %}

{% block contents %}
<h1>{{ cattitle }}</h1>

<p>
Astroparticle physics is a field of research that combines aspects of
particle physics, astronomy and cosmology.
Research areas are cosmic ray research (detection of cosmic-ray particles,
but also indirect detection through gamma-rays and neutrinos),
dark matter research (with an emphasis on characterizing the nature of
the dark matter particle(s) and a quest to directly detect the particle(s)),
and extreme gravity, including gravitational waves.
</p>

<p>
At the University of Amsterdam astroparticle physics is concentrated in
the <a href=http://grappa.science.uva.nl>GRAPPA</A>
(GRavitation and AstroParticle Physics in Amsterdam) new center of excellence.
European countries coordinate their activities within
the <a href=http://www.aspersa-eu.org>ASPERA</A> network.
</p>


<p>
<center><img src="{{ STATIC_URL }}research/images/particles-detect.jpg" width="500"/></center>
</p>




<hr>

<p>
People at The Institute are working on the following topics: </br>
</p>


<table id="research">
<tr>
{% for research in object_list %}
<td>
<a href="{{ research.get_absolute_url }}">
   {% if research.picture %}<img src="{{ research.picture.url }}"/> <br/> {% endif %} {{ research.topic }}
</a>
</td>
{% if forloop.counter|divisibleby:"2" %} </tr><tr> {% endif %}
{% endfor %}
</tr>
</table>

<!--
<div style="clear: both;">
{% for research in object_list %}
<div style="float: left; border: 0px cyan solid; margin: 2em; width: 100px; height: 200px;">
  {% if research.picture %}<a href="{{ research.get_absolute_url }}"><img src="{{ research.picture.url }}" width="100" />
  <p>{% else %}<p><a href="{{ research.get_absolute_url }}">{% endif %}{{ research.topic }}</a></p>
</div>
{% endfor %}
</div>
-->


{% endblock contents %}



