{% extends "research/base.html" %}
{% block title %}API - research{% endblock title %}

{% block contents %}
<h1>{{ cattitle }}</h1>


<p>
Although the night sky seems to reveal a tranquil Universe,
powerful explosions happen in the Universe.
The energy source of these explosions is usually either nuclear fusion
(for example thermonuclear bursts, or thermonuclear (=Type Ia) supernovae),
or it is due to the release of gravitational energy, if an object collapses or
matter falls onto a  compact object like a black hole
(for example active galaxies, core collapse supernovae and gamma-ray bursts).
</p>

<p>
In a few cases magnetic fields may be responsible for explosions,
for example reordering of magnetic fields in the corona of the sun leads to violent eruptions,
and, on an even much more powerful scale, the reordering of magnetics fields in
highly magnetic neutron stars (magnetars) leads to explosions so powerful,
that the ionosphere of the Earth is affected by them.
</p>

<p>
The range of explosion energy of these explosions span a wide range in energy,
from a few 10<sup>22</sup> Joule for solar bursts, 10<sup>44</sup> Joule for supernova
to 10<sup>46</sup> Joule for gamma-ray bursts.
Active galaxies provide usually a continuous power, which can be as high as 10<sup>38</sup> Watt.
</p>




<p>
<center><img src="{{ STATIC_URL }}research/images/cosmic-expl.jpg" width="500"/></center>
</p>


<hr>


<p>
People at The Institute are working on the following topics: </br>
</p>


<table id="research">
<tr>
{% for research in object_list %}
<td>
<a href="{{ research.get_absolute_url }}">
   {% if research.picture %}<img src="{{ research.picture.url }}"/> <br/> {% endif %} {{ research.topic }}
</a>
</td>
{% if forloop.counter|divisibleby:"2" %} </tr><tr> {% endif %}
{% endfor %}
</tr>
</table>

<!--
<div style="clear: both;">
{% for research in object_list %}
<div style="float: left; border: 0px cyan solid; margin: 2em; width: 100px; height: 200px;">
  {% if research.picture %}<a href="{{ research.get_absolute_url }}"><img src="{{ research.picture.url }}" width="100" />
  <p>{% else %}<p><a href="{{ research.get_absolute_url }}">{% endif %}{{ research.topic }}</a></p>
</div>
{% endfor %}
</div>
-->


{% endblock contents %}



