{% extends "research/base.html" %}
{% block title %}API - research{% endblock title %}

{% block contents %}
<h1>{{ cattitle }}</h1>


<p>
Massive stars of spectral type O and early B are found at
the blue and bright end of the Hertzsprung-Russell diagram.
They have masses larger than ten times the mass of the sun.
Though few in numbers, they form a particularly important class of objects.
Because of their short life and dramatic explosions (supernovae),
they trigger star formation in their direct surroundings.
Massive stars are also the progenitors of stellar mass black holes
and neutron stars. They are also the best candidates to explain
the still poorly understood nature of the gamma-ray bursts.
</p>


<hr>

<p>
People at The Institute are working on the following topics: </br>
</p>



<table id="research">
<tr>
{% for research in object_list %}
<td>
<a href="{{ research.get_absolute_url }}">
   {% if research.picture %}<img src="{{ research.picture.url }}"/> <br/> {% endif %} {{ research.topic }}
</a>
</td>
{% if forloop.counter|divisibleby:"2" %} </tr><tr> {% endif %}
{% endfor %}
</tr>
</table>

<!--
<div style="clear: both;">
{% for research in object_list %}
<div style="float: left; border: 0px cyan solid; margin: 2em; width: 100px; height: 200px;">
  {% if research.picture %}<a href="{{ research.get_absolute_url }}"><img src="{{ research.picture.url }}" width="100" />
  <p>{% else %}<p><a href="{{ research.get_absolute_url }}">{% endif %}{{ research.topic }}</a></p>
</div>
{% endfor %}
</div>
-->



{% endblock contents %}



