{% extends "apogee/base.html" %}
{% block title %}APO Agenda - {{ object.title }}{% endblock title %}

{% block contents %}

<form method="POST" action="{% url 'apogee:entry-delete' pk=object.pk slug=object.slug %}">
{% csrf_token %}
<em>{{ object.title }}</em>

<p>
Delete this entry? <br />
<input type="submit" name="result" value="Delete" />
<input type="submit" name="result" value="Cancel" />
</p>
</form>

<hr />

<p>

</p>


{% if object.is_public %}
<p class="warning right">This item is visible to the public</p>
{% endif %}

<h1>{{ object.title }}</h1>

<p>
{{ object.date|date:"j F Y" }}
{% if object.enddate %} - {{ object.enddate|date:"j F Y" }} {% endif %}
<br />
This agenda item has been created by {{ object.creator.get_full_name }}.
<hr>
</p>

<p>
{{ object.body_html|safe }}
</p>

{% endblock contents %}
