{% extends "base.html" %}
{% block title %}API website - About{% endblock title %}

{% block contents %}

<h1>About the API website</h1>

<p>
The API website has been build with the <a href="http://www.djangoproject.com/"> Django </a> web framework by Evert Rol and Martin Heemskerk.
For comments or remarks about the API website you can contact our
<a href="mailto:secr-astro-science@uva.nl">webmaster</a>.
</p>




{% endblock contents %}
