{% url 'home-page' as url_home %}
{% url 'about' as url_about %}
{% url 'institute:index' as url_institute %}
{% url 'institute:contact' as url_contact %}
{% url 'library:index' as url_library %}
{% url 'people:person-list' as url_people %}
{% url 'news:index' as url_news %}
{% url 'news:press' as url_press %}
{% url 'news:events' as url_events %}
{% url 'news:colloquium' as url_colloquium %}
{% url 'news:pizza' as url_pizza %}
{% url 'education:index' as url_education %}
{% url 'education:projects-index' as url_projects %}
{% url 'research:index' as url_research %}
{% url 'research:thesis' "phd" as url_theses %}
{% url 'research:links' as url_links %}
{% url 'apo:index' as url_apo %}
{% url 'publiek:index' as url_publiek %}
{% url 'publiek:sterrenkijkavonden' as url_sterrenkijkavonden %}
{% url 'publiek:rondleidingen' as url_rondleidingen %}
{% url 'publiek:onderzoek' as url_onderzoek %}
{% url 'publiek:educatie' as url_educatie %}
{% url 'publiek:studie' as url_studie %}
{% url 'jobs:index' as url_jobs %}
{% url 'internal:index' as url_internal %}
{% url 'wiki:index' as url_wiki %}
{% url 'wiki2:index2' as url_wiki2 %}

<ul>
  <li> <a href="{{ url_home }}">Home</a>
    <ul>
      <li> <a href="{{ url_about }}">About</a> </li>
    </ul>
  </li>
  <li> <a href="{{ url_institute }}">Institute</a>
    <ul>
      <li> <a href="{{ url_library }}">Library</a></li>
      <li> <a href="{{ url_people }}">People</a></li>
      <li> <a href="{{ url_contact }}">Contact</a></li>
{% if user.is_authenticated %}
      <li> <a href="{{ url_internal }}">Internal</a> </li>
      <li> <a href="{{ url_wiki }}">Wiki</a></li>
{% else %}
{% if ipaddress.is_allowed %}      <li> <a href="{{ url_wiki2 }}">Wiki</a></li>{% endif %}
{% endif %}
    </ul>
  </li>
  <li> <a href="{{ url_news }}">News</a>
    <ul>
      <li> <a href="{{ url_press }}">Press</a></li>
      <li> <a href="{{ url_events }}">Events</a></li>
      <li> <a href="{{ url_colloquium }}">Colloquia</a></li>
      <li> <a href="{{ url_pizza }}">Lunch talks</a></li>
    </ul>
  </li>
  <li> <a href="{{ url_education }}">Education</a>
   <ul>
    <li> <a href="{{ url_projects }}">Student projects</a> </li>
    <li> <a href="{{ url_apo }}">Observatory</a> </li>
   </ul>
  </li>
  <li> <a href="{{ url_research }}">Research</a>
   <ul>
    <li> <a href="{{ url_research }}#reports">Annual reports</a> </li>
    <li> <a href="{{ url_theses }}">PhD theses</a> </li>
    <li> <a href="{{ url_links }}">Links</a> </li>
   </ul>
  </li>
  <li> <a href="{{ url_publiek }}">Publiek</a>
    <ul>
      <li> <a href="{{ url_sterrenkijkavonden }}">Sterrenkijkavonden</a> </li>
      <li> <a href="{{ url_rondleidingen }}">Rondleidingen</a> </li>
      <li> <a href="{{ url_onderzoek }}">Onderzoek</a> </li>
      <li> <a href="{{ url_educatie }}">Educatie</a> </li>
      <li> <a href="{{ url_studie }}">Studie</a> </li>
    </ul>
  </li>
  <li> <a href="{{ url_jobs }}">Jobs</a>
  </li>
</ul>
