html {
  height: 100%; }

body {
  padding-top: 3ex;
  padding-bottom: 4ex; }

div#base {
  width: 800px;
  margin-left: auto;
  margin-right: auto; }

div#banner {
  margin: 0 auto;
  height: 160px;
  /* banner picture shows 20px less vertically (?) */
  padding: 0; }

div#menu {
  position: relative;
  top: -160px;
  right: 0;
  height: 3ex;
  /* explicite height, to let div#helpers adjust below it */
  z-index: 10;
  /* otherwise, doesn't fall over the page and makes
   * menu parts inaccessible when at bottom */ }

div#bottommenu {
  position: relative;
  top: -3ex;
  /* height of div#bottommenu (in smaller font) */
  padding: 0;
  margin: 1px;
     /* (bad) fix for an odd alignment problem with Firefox,
which shows up only under certain unknown conditions */
  z-index: 10; }

div#uvalinks {
  position: relative;
  left: 0;
  right: 0;
  float: left;
  text-align: left; }

div#main {
  padding-top: 4ex;
  padding-bottom: 2ex;
  margin-left: 1em;
  margin-right: 1.5em; }

div#sidemenu {
  width: 11em;
  float: left;
  margin-left: 0em;
  padding-left: 0.5em;
  margin-bottom: 4ex; }

div#contents {
  margin-left: 13em; }

div.section {
  margin-left: 1em; }

div#footer {
  width: 600px;
  clear: both;
  margin-top: 2ex;
  margin-left: auto;
  margin-right: auto;
  padding: 1ex 0em;
  padding-top: 3ex; }

div#push-footer {
  clear: both;
  height: 0em; }

/* provide the basic structure for the layout; no colors, fonts or other visual markup */
/* Generic classes */
html {
  background: url(../images/api-background.png) no-repeat center top;
  background-color: #afcfef;
  color: #000; }

body {
  text-align: center;
  font-family: sans-serif;
  font-size: 9.5pt;
  line-height: 135%; }

div#base {
  color: inherit;
  background-color: #fff; }

div#main {
  text-align: left;
  color: inherit;
  background-color: #fff; }

div#logo img {
  width: 30px; }

div#footer {
  text-align: center;
  border-top: 2px #000 solid;
  background: transparent; }

p {
  margin-top: 2ex;
  margin-bottom: 3ex; }

h1 {
  font-size: 140%;
  border-left: 0.5em solid #000;
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
  margin-bottom: 2ex; }

h2 {
  font-size: 120%;
  margin-top: 4ex;
  margin-bottom: 2ex;
  padding-top: 1ex;
  padding-bottom: 0.5ex;
  border-bottom: 1px dotted #000; }

h2.listing {
  clear: right; }

h3.listing {
  clear: right;
  padding-top: 2ex; }

h3 {
  font-size: 100%;
  font-weight: bold; }

h4 {
  font-size: 85%;
  font-weight: bold; }

a {
  color: #06f;
  text-decoration: none; }

a:hover {
  color: #396; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

address {
  margin-left: 2em; }

img.left {
  float: left;
  margin: 1em 1ex; }

img.right {
  float: right;
  margin: 1em 1ex; }

ul, li {
  list-style: disc outside; }

li {
  margin-left: 1em; }

ul ul > li {
  margin-left: 1em; }

/* specific divs */
div#contents dl dd {
  margin-bottom: 3ex; }
div#contents dl dd p {
  margin: 0;
  padding: 0; }
div#contents td a.delete {
  color: #f00;
  font-size: 150%; }

div.people {
  margin-left: 2em; }
  div.people table {
    width: 90%;
    border-spacing: 1em 0.5ex;
    margin: 1ex 0em 2ex 0em;
    border-bottom: 1px dotted #000; }
  div.people table:last-child {
    border-bottom: none; }
  div.people table tr th:first-child {
    width: 20%; }

div#sitemap > ul > li {
  margin-top: 2ex;
  margin-bottom: 2ex; }

/* Table formatting */
table {
  border-collapse: separate;
  border-spacing: 1em 1ex;
  page-break-inside: avoid; }

tr {
  vertical-align: top; }

thead tr {
  background-color: #ff8; }
thead th {
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-align: center; }

td {
  padding: 0.2ex 0.6em; }

table.addresses {
  border-collapse: collapse;
  background-color: #fff;
  font-size: 80%;
  line-height: 140%;
  border-spacing: 0em 1ex; }
  table.addresses thead tr {
    border-bottom: 1px solid #333; }
  table.addresses th {
    border-left: 1px solid #999; }
  table.addresses tr th:first-child {
    border-left: none; }
  table.addresses td {
    border-left: 1px solid #999;
    padding-top: 0.8ex;
    padding-bottom: 0.8ex; }
  table.addresses tr td:first-child {
    border-left: none; }

table.person {
  border-collapse: collapse; }

table.theses {
  border-collapse: collapse; }

table.theses td, table.theses th {
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-left: 1em;
  vertical-align: middle;
  text-align: left; }

tr.odd {
  color: #000;
  background-color: transparent; }

tr.even {
  color: #000;
  background-color: #ace; }

tr.missing {
  color: #000;
  background-color: #f33; }

tr.on_loan {
  color: #000;
  background-color: #f3c; }

th.required:after {
  content: "*"; }

table#research td {
  vertical-align: bottom;
  text-align: center;
  padding: 10px; }
table#research img {
  width: 250px; }

/* Form formatting */
form {
  margin-right: 1em; }

fieldset {
  margin-top: 2ex;
  margin-bottom: 2ex;
  padding: 0.5em;
  border-top: 1px solid #666; }

legend {
  padding-left: 0.5em;
  padding-right: 0.5em; }

form#helper_search {
  display: inline;
  margin-right: 0; }

form#helper_search input {
  border: 1px solid #ccc;
  color: #666;
  background: #fff; }

form#helper_search a {
  color: #666; }

span.formlabel {
  display: table-cell;
  width: 10em;
  vertical-align: top; }

span.formfield {
  display: table-cell;
  vertical-align: top; }

div.form {
  margin-top: 1ex;
  margin-bottom: 1ex; }
  div.form img {
    vertical-align: top;
    float: right; }

span.required:after {
  content: "*"; }

/* Form error formatting */
.error, .errorlist, .warning {
  color: #f00;
  background-color: inherit; }

.errorlist li {
  list-style-type: disc;
  list-style-position: inside; }

form span .errorlist li {
  list-style-type: none; }

span.help_text {
  font-size: 90%;
  color: #666;
  background: inherit; }

div.edit {
  margin-top: 5ex;
  margin-right: 1em;
  float: right; }

form#search ul {
  margin-top: 4ex;
  margin-bottom: 5ex; }
form#search ul li {
  margin-top: 0ex;
  margin-bottom: 3ex; }
form#search ul li p {
  margin-top: 0ex;
  margin-bottom: 1ex; }

div.image {
  width: 200px;
  font-size: 90%;
  margin-top: 1em;
  margin-bottom: 1em; }
  div.image p {
    margin: 0; }
  div.image img {
    width: 100%; }

div.image.left {
  float: left;
  margin-right: 2em; }

div.image.right {
  float: right;
  margin-left: 2em; }

table#bachelor-curriculum td.subheading {
  text-align: center;
  padding-top: 2ex; }

table#bachelor-curriculum tr:first-child td.subheading {
  padding-top: 0ex; }

.right {
  float: right; }

.note {
  font-size: 90%; }

p.footnote {
  border-top: 1px dotted #666; }

div.teaser, p.teaser {
  margin-top: 1.0ex;
  margin-bottom: 1.0ex;
  border-left: 1px solid #000;
  padding-left: 0.5em; }

p.listing {
  margin-top: 1ex;
  margin-bottom: 1ex; }

.teaser img {
  float: right;
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: 2em;
  margin-right: 2em;
  width: 60px; }

img.teaser {
  float: right;
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: 2em;
  margin-right: 2em;
  width: 60px; }

li.listing {
  clear: right;
  padding-bottom: 1ex; }

.listing dt {
  clear: right; }
  .listing dt img {
    border-style: none;
    float: right;
    width: 60px;
    margin-left: 1em;
    margin-bottom: 2ex; }

.front img {
  border-style: none; }

p.runin {
  font-size: 120%;
  font-style: italic;
  margin-left: -1em;
  clear: right; }

.nowrap {
  white-space: nowrap; }

.speaker {
  font-style: italic;
  margin-top: 0.2ex;
  margin-bottom: 0.2ex; }

/* global colors, fonts etc */
div#header {
  width: 760px;
  /* picture width: menu & bottommenu stay aligned to picture */
  margin-top: 0;
  /* center the header */
  margin-left: auto;
  margin-right: auto;
  padding: 1ex 0;
  text-align: left;
  color: #fff;
  background-color: inherit; }

div#banner {
  background: url(../images/skyline_banner.jpg) no-repeat center 3ex;
  text-align: left;
  color: #000;
  background-color: transparent; }
  div#banner h1 {
    padding-top: 2.8ex;
    padding-left: 1ex;
    font-size: 190%;
    margin: 0;
    color: #000;
    background-color: inherit;
    border-left: none; }
  div#banner p {
    text-align: right; }

div#helpers, div#uvalinks {
  color: #000;
  background-color: inherit;
  text-align: right;
  font-size: 80%; }

div#uvalinks {
  text-align: left; }

div#bottommenu a {
  color: #000;
  background-color: inherit; }

div#bottommenu a:hover {
  color: #fff;
  background-color: #000; }

div#breadcrumbs {
  font-size: 80%;
  color: #000;
  background-color: inherit; }
  div#breadcrumbs span {
    border-bottom: 1px #000 solid; }

div#menu {
  font-size: 95%; }
  div#menu a {
    color: #000;
    background-color: #fff; }
  div#menu a:hover {
    color: #fff;
    background-color: #000; }
  div#menu li {
    padding-top: 0.2ex;
    padding-right: 0.8em;
    padding-left: 1em;
    vertical-align: top;
    float: left;
    list-style: none; }
  div#menu ul ul {
    visibility: hidden;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    list-style: none;
    line-height: 1.4em;
    top: 100%;
    color: #fff;
    background-color: #000; }
    div#menu ul ul li a {
      width: 100%;
      display: inline-block;
      color: #fff;
      background-color: #000; }

div#menu > ul {
  float: right; }

div#menu > ul > li:first-child {
  padding-left: 0.8em; }

div#menu > ul > li:last-child {
  padding-right: 0.8em; }

div#menu > ul > li:hover {
  color: #fff;
  background-color: #000;
  position: relative; }

div#menu > ul > li:hover > a {
  color: #fff;
  background-color: #000; }

div#menu > ul > li > ul {
  color: #000;
  background-color: #fff; }

div#menu > ul > li:hover > ul {
  /*When hovered, make them appear*/
  visibility: visible;
  margin: 0;
  display: block;
  color: inherit;
  background-color: #000; }

div#menu > ul > li > ul > li {
  float: none;
  border-top: 1px solid #eee;
  padding-left: 1em;
  padding-right: 1.4em;
  margin: 0;
  color: #fff;
  background-color: #000; }

div#menu > ul > li > ul > li:hover {
  color: #000;
  background-color: #fff; }

div#menu > ul > li > ul > li:hover a {
  color: #000;
  background-color: #fff; }

div#menu > ul > li a {
  padding: 0; }

div#menu > ul > li > ul li:hover > a {
  color: #000;
  background-color: #fff; }

div#sidemenu li {
  margin-left: 0em; }

div#sidemenu {
  color: #000;
  background-color: transparent;
  font-size: 90%; }
  div#sidemenu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    div#sidemenu ul ul {
      line-height: 140%; }
      div#sidemenu ul ul ul li {
        border-top: 1px dotted #000; }
      div#sidemenu ul ul li .active {
        color: #000;
        background-color: #afccec; }
    div#sidemenu ul ul > li {
      margin-left: 0em; }
    div#sidemenu ul ul > li:first-child {
      border-top: 1px solid #000; }
    div#sidemenu ul ul > li:last-child {
      border-bottom: none; }
  div#sidemenu li {
    list-style-type: none;
    border-top: 1px solid #000;
    border-left: 0.4em solid transparent; }
    div#sidemenu li a {
      display: inline-block;
      width: 100%;
      padding-left: 0.3em;
      padding-right: 0.3em;
      margin-left: -0.3em; }
    div#sidemenu li a:hover {
      color: #fff;
      background-color: #000; }
  div#sidemenu a {
    color: #000;
    background-color: transparent; }

div#sidemenu > ul > li:first-child {
  border-top: none; }

div#sidemenu > ul > li > ul > li:first-child {
  margin-left: -0.4em;
  padding-left: 0.4em;
  border-top: 1px solid #000; }

div#sidemenu > ul > li > ul > li > ul > li:first-child {
  margin-left: -0.4em;
  padding-left: 0.4em;
  border-top: 1px solid #000; }

div#sidemenu > ul > li .active {
  color: #000;
  background-color: #afccec; }

@media screen {
  div#base {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 20px 5px #999999;
    -moz-box-shadow: 6px 20px 5px #999999;
    -o-box-shadow: 6px 20px 5px #999999;
    box-shadow: 6px 20px 5px #999999; } }
@media screen {
  div#menu > ul > li:hover > ul, div#menu > ul > li:hover {
    -webkit-box-shadow: 6px 6px 5px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 6px 6px 5px rgba(50, 50, 50, 0.6);
    -o-box-shadow: 6px 6px 5px rgba(50, 50, 50, 0.6);
    box-shadow: 6px 6px 5px rgba(50, 50, 50, 0.6); }

  .reflect {
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(black)); } }
@media screen {
  div#menu > ul > li:hover {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -o-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -o-border-top-right-radius: 3px;
    border-top-right-radius: 3px; } }
@media screen {
  div#sidemenu {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-box-shadow: 3px 3px 2px #999999;
    -moz-box-shadow: 3px 3px 2px #999999;
    -o-box-shadow: 3px 3px 2px #999999;
    box-shadow: 3px 3px 2px #999999; } }
