@mixin border-radius($radius: 5px)
{
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-topleft($radius: 3px)
{
    -webkit-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    -o-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-radius-topright($radius: 3px)
{
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topright: $radius;
    -o-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}


@mixin box-shadow($x-offset: 6px, $y-offset: 6px, $blur: 5px, $color: #999)
{
    -webkit-box-shadow: $x-offset $y-offset $blur $color;
    -moz-box-shadow: $x-offset $y-offset $blur $color;
    -o-box-shadow: $x-offset $y-offset $blur $color;
    box-shadow: $x-offset $y-offset $blur $color;
}

@media screen
{
    div#base
    {
        @include border-radius(5px);
        @include box-shadow(6px, 20px, 5px, #999);
    }
}

@media screen 
{ 
    div#menu > ul > li:hover > ul, div#menu > ul > li:hover
    {
        @include box-shadow(6px, 6px, 5px, rgba(50, 50, 50, 0.6));
    }

    .reflect
    {
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(black));
    }

} 

@media screen
{
    div#menu > ul > li:hover
    {
        @include border-radius-topleft(3px);
        @include border-radius-topright(3px);
    }
}

@media screen
{
    div#sidemenu
    {
        @include border-radius-topright(5px);
        @include border-radius-topleft(5px);
        @include box-shadow(3px, 3px, 2px, #999);
    }
}
