div#breadcrumbs
{
    display: none;
}

div#main
{
    margin-top: -3ex;
}

div#sidemenu
{
    float: right;
    width: 9em;
    font-size: 90%;
    text-align: right;
    background-color: #ffc;
    padding-left: 1em;
    padding-top: 1ex;
    padding-bottom: 1ex;
}

div#sidemenu ul
{
    margin: 0;
    padding: 0;
}

div#sidemenu li
{
    margin: 0;
    padding: 0;
    border-left: none;
    border-right: 0.6em solid transparent;
}

div#sidemenu li.job
{
    border-top: 1px dotted #000;
}

div#sidemenu > ul > li > ul > li:first-child
{
    margin-left: 0;
    padding-left: 0;
    margin-right: -0.6em;
    padding-right: 0.6em;
    border-top: 1px solid #000;
}

div#sidemenu > ul > li > ul > li.job:first-child
{
    border-top: none;
}

div#sidemenu > ul > li span.job
{
    border-bottom: 1px dotted #000;
}

div#contents
{
    margin-left: 1em;
    margin-right: 13em;
}

div#contents li
{
    padding-left: 0em;
    margin-bottom: 3ex;
}

div#contents dd p
{
    margin: 0;
    padding: 0;
}

.teaser img
{
    float: left;
}

li.listing
{
    clear: left;
}

div#logo
{
    display: none;
}

table.listing
{
    clear: left;
    border-collapse: collapse;
}

table.listing img
{
    margin: 0;
    padding: 0;
    width: 60px;
    margin-top: 0.5ex;
}

table.listing tr
{
    
}

table.listing td
{
    padding-left: 1em;
    padding-right: 1em;
}

table.listing tr.toprow td
{
    padding-top: 1ex;
    border-top: 1px solid #ccc;
}

table.listing tr.lastrow td
{
    padding-bottom: 2ex;
}

table.listing tr.toprow:first-child td
{
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}

table.listing td.nowrap
{
    white-space: nowrap;
}

table.listing td.title
{
    width: 100%;
    font-weight: bold;
}
