div#header
{
    width: 760px; /* picture width: menu & bottommenu stay aligned to picture */
    margin-top: 0;
    /* center the header */
    margin-left: auto;
    margin-right: auto;
    padding: 1ex 0;
    text-align: left;
    color: #fff;
    background-color: inherit;
}    

div#banner
{
    background: url(../images/skyline_banner.jpg) no-repeat center 3.0ex;
    text-align: left;
    color: #000;
    background-color: transparent;

    h1
    {
        padding-top: 2.8ex;
        padding-left: 1ex;
        font-size: 190%;
        margin: 0;
        color: #000;
        background-color: inherit;
        border-left: none;
    }

    p
    {
        text-align: right;
    }
}

div#helpers, div#uvalinks
{
    color: #000;
    background-color: inherit;
    text-align: right;
    font-size: 80%;
}

div#uvalinks
{
    text-align: left;
}

div#bottommenu a
{
    color: #000;
    background-color: inherit;
}

div#bottommenu a:hover
{
    color: #fff;
    background-color: #000;
}

div#breadcrumbs
{
    font-size: 80%;
    color: #000;
    background-color: inherit;

    span
    {
        border-bottom: 1px #000 solid;
    }
}
