div#menu
{
    *width: 760px;
}

div#menu ul ul
{
    width: 9em;
}

div#menu ul li.hover
{
    color: #fff;
    background-color: #000;
    position: relative;
}

div#menu ul ul li.hover
{
    color: #000;
    background-color: #fff;
}

div#menu ul li.hover a
{
    color: #fff;
    background-color: #000;
}

div#menu ul ul li.hover a:hover
{
    color: #000;
    background-color: #fff;
}
