/* Generic classes */
html {
  background: url(../images/api-background.png) no-repeat center top;
  background-color: #afcfef;
  color: #000; }

body {
  text-align: center;
  font-family: sans-serif;
  font-size: 9.5pt;
  line-height: 135%; }

div#base {
  color: inherit;
  background-color: #fff; }

div#main {
  text-align: left;
  color: inherit;
  background-color: #fff; }

div#logo img {
  width: 30px; }

div#footer {
  text-align: center;
  border-top: 2px #000 solid;
  background: transparent; }

p {
  margin-top: 2ex;
  margin-bottom: 3ex; }

h1 {
  font-size: 140%;
  border-left: 0.5em solid #000;
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
  margin-bottom: 2ex; }

h2 {
  font-size: 120%;
  margin-top: 4ex;
  margin-bottom: 2ex;
  padding-top: 1ex;
  padding-bottom: 0.5ex;
  border-bottom: 1px dotted #000; }

h2.listing {
  clear: right; }

h3.listing {
  clear: right;
  padding-top: 2ex; }

h3 {
  font-size: 100%;
  font-weight: bold; }

h4 {
  font-size: 85%;
  font-weight: bold; }

a {
  color: #06f;
  text-decoration: none; }

a:hover {
  color: #396; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

address {
  margin-left: 2em; }

img.left {
  float: left;
  margin: 1em 1ex; }

img.right {
  float: right;
  margin: 1em 1ex; }

ul, li {
  list-style: disc outside; }

li {
  margin-left: 1em; }

ul ul > li {
  margin-left: 1em; }

/* specific divs */
div#contents dl dd {
  margin-bottom: 3ex; }
div#contents dl dd p {
  margin: 0;
  padding: 0; }
div#contents td a.delete {
  color: #f00;
  font-size: 150%; }

div.people {
  margin-left: 2em; }
  div.people table {
    width: 90%;
    border-spacing: 1em 0.5ex;
    margin: 1ex 0em 2ex 0em;
    border-bottom: 1px dotted #000; }
  div.people table:last-child {
    border-bottom: none; }
  div.people table tr th:first-child {
    width: 20%; }

div#sitemap > ul > li {
  margin-top: 2ex;
  margin-bottom: 2ex; }

/* Table formatting */
table {
  border-collapse: separate;
  border-spacing: 1em 1ex;
  page-break-inside: avoid; }

tr {
  vertical-align: top; }

thead tr {
  background-color: #ff8; }
thead th {
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-align: center; }

td {
  padding: 0.2ex 0.6em; }

table.addresses {
  border-collapse: collapse;
  background-color: #fff;
  font-size: 80%;
  line-height: 140%;
  border-spacing: 0em 1ex; }
  table.addresses thead tr {
    border-bottom: 1px solid #333; }
  table.addresses th {
    border-left: 1px solid #999; }
  table.addresses tr th:first-child {
    border-left: none; }
  table.addresses td {
    border-left: 1px solid #999;
    padding-top: 0.8ex;
    padding-bottom: 0.8ex; }
  table.addresses tr td:first-child {
    border-left: none; }

table.person {
  border-collapse: collapse; }

table.theses {
  border-collapse: collapse; }

table.theses td, table.theses th {
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-left: 1em;
  vertical-align: middle;
  text-align: left; }

tr.odd {
  color: #000;
  background-color: transparent; }

tr.even {
  color: #000;
  background-color: #ffc; }

tr.missing {
  color: #000;
  background-color: #f33; }

tr.on_loan {
  color: #000;
  background-color: #f3c; }

th.required:after {
  content: "*"; }

table#research td {
  vertical-align: bottom;
  text-align: center;
  padding: 10px; }
table#research img {
  width: 250px; }

/* Form formatting */
form {
  margin-right: 1em; }

fieldset {
  margin-top: 2ex;
  margin-bottom: 2ex;
  padding: 0.5em;
  border-top: 1px solid #666; }

legend {
  padding-left: 0.5em;
  padding-right: 0.5em; }

form#helper_search {
  display: inline;
  margin-right: 0; }

form#helper_search input {
  border: 1px solid #ccc;
  color: #666;
  background: #fff; }

form#helper_search a {
  color: #666; }

span.formlabel {
  display: table-cell;
  width: 10em;
  vertical-align: top; }

span.formfield {
  display: table-cell;
  vertical-align: top; }

div.form {
  margin-top: 1ex;
  margin-bottom: 1ex; }
  div.form img {
    vertical-align: top;
    float: right; }

span.required:after {
  content: "*"; }

/* Form error formatting */
.error, .errorlist, .warning {
  color: #f00;
  background-color: inherit; }

.errorlist li {
  list-style-type: disc;
  list-style-position: inside; }

form span .errorlist li {
  list-style-type: none; }

span.help_text {
  font-size: 90%;
  color: #666;
  background: inherit; }

div.edit {
  margin-top: 5ex;
  margin-right: 1em;
  float: right; }

form#search ul {
  margin-top: 4ex;
  margin-bottom: 5ex; }
form#search ul li {
  margin-top: 0ex;
  margin-bottom: 3ex; }
form#search ul li p {
  margin-top: 0ex;
  margin-bottom: 1ex; }

div.image {
  width: 200px;
  font-size: 90%;
  margin-top: 1em;
  margin-bottom: 1em; }
  div.image p {
    margin: 0; }
  div.image img {
    width: 100%; }

div.image.left {
  float: left;
  margin-right: 2em; }

div.image.right {
  float: right;
  margin-left: 2em; }

table#bachelor-curriculum td.subheading {
  text-align: center;
  padding-top: 2ex; }

table#bachelor-curriculum tr:first-child td.subheading {
  padding-top: 0ex; }

.right {
  float: right; }

.note {
  font-size: 90%; }

p.footnote {
  border-top: 1px dotted #666; }

div.teaser, p.teaser {
  margin-top: 1.0ex;
  margin-bottom: 1.0ex;
  border-left: 1px solid #000;
  padding-left: 0.5em; }

p.listing {
  margin-top: 1ex;
  margin-bottom: 1ex; }

.teaser img {
  float: right;
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: 2em;
  margin-right: 2em;
  width: 60px; }

img.teaser {
  float: right;
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: 2em;
  margin-right: 2em;
  width: 60px; }

li.listing {
  clear: right;
  padding-bottom: 1ex; }

.listing dt {
  clear: right; }
  .listing dt img {
    border-style: none;
    float: right;
    width: 60px;
    margin-left: 1em;
    margin-bottom: 2ex; }

.front img {
  border-style: none; }

p.runin {
  font-size: 120%;
  font-style: italic;
  margin-left: -1em;
  clear: right; }

.nowrap {
  white-space: nowrap; }

.speaker {
  font-style: italic;
  margin-top: 0.2ex;
  margin-bottom: 0.2ex; }
