div#menu
{
    font-size: 95%;

    a
    {
        color: #000;
        background-color: #fff;
    }
    a:hover
    {
        color: #fff;
        background-color: #000;
    }
    
    li
    {
        padding-top: 0.2ex;
        padding-right: 0.8em;
        padding-left: 1em;
        vertical-align: top;
        float: left;
        list-style: none;
    }

    ul ul
    {
        visibility: hidden;
        position: absolute;
        left: 0;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        list-style: none;
        line-height: 1.4em;
        top: 100%;
        color: #fff;
        background-color: #000;

        li a
        { 
            width: 100%; 
            display: inline-block; 
            color: #fff;
            background-color: #000;
        } 
    }
}


div#menu > ul
{
    float: right;
}

div#menu > ul > li:first-child
{
    padding-left: 0.8em;
}

div#menu > ul > li:last-child
{
    padding-right: 0.8em;
}

div#menu > ul > li:hover
{
    color: #fff;
    background-color: #000;
    position: relative;
}

div#menu > ul > li:hover > a
{
    color: #fff;
    background-color: #000;
}

div#menu > ul > li > ul
{
    color: #000;
    background-color: #fff;
}

div#menu > ul > li:hover > ul
{ 
    /*When hovered, make them appear*/
    visibility: visible;
    margin: 0;
    display: block;
    color: inherit;
    background-color: #000;
}

div#menu > ul > li > ul > li
{
    float: none;
    border-top: 1px solid #eee;
    padding-left: 1em;
    padding-right: 1.4em;
    margin: 0;
    color: #fff;
    background-color: #000;
}

div#menu > ul > li > ul > li:hover
{
    color: #000;
    background-color: #fff;
}

div#menu > ul > li > ul > li:hover a
{
    color: #000;
    background-color: #fff;
}

div#menu > ul > li a
{
    padding: 0;
}

div#menu > ul > li > ul li:hover > a
{
    color: #000;
    background-color: #fff;
}
