div#sidemenu li
{
    margin-left: 0em;
}

div#sidemenu ul ul > li
{
    margin-left: 0em;
}

div#sidemenu
{
    color: #000;
    background-color: transparent;
    font-size: 90%;
}

div#sidemenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

div#sidemenu ul ul
{
    line-height: 140%;
}

div#sidemenu li
{
    list-style-type: none;
    border-top: 1px solid #000;
    border-left: 0.4em solid transparent;
}

div#sidemenu ul ul ul li
{
    border-top: 1px dotted #000;
}

div#sidemenu li a
{
    display: inline-block;
    width: 100%;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-left: -0.3em;
}

div#sidemenu > ul > li:first-child
{
    border-top: none;
}

div#sidemenu > ul > li > ul > li:first-child
{
    margin-left: -0.4em;
    padding-left: 0.4em;
    border-top: 1px solid #000;
}

div#sidemenu > ul > li > ul > li > ul > li:first-child
{
    margin-left: -0.4em;
    padding-left: 0.4em;
    border-top: 1px solid #000;
}

div#sidemenu a
{
    color: #000;
    background-color: transparent;
}

div#sidemenu ul > li:last-child
{
    border-bottom: none;
}

div#sidemenu ul ul > li:first-child
{
    border-top: 1px solid #000;
}

div#sidemenu ul ul li .active
{
    color: #000;
    background-color: #afccec;
}

div#sidemenu > ul > li .active
{
    color: #000;
    background-color: #afccec;
}

div#sidemenu li a:hover
{
    color: #fff;
    background-color: #000;
}
