{% extends "institute/base.html" %}
{% block stylesheets %}{{ block.super }}{% endblock stylesheets %}
{% block title %}API - the institute{% endblock title %}
{% block breadcrumbs %}
{{ block.super }}  &#187; <a href="{% url 'institute:index' %}">Institute</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>Anton Pannekoek Institute</h1>

<p> The Anton Pannekoek Instituut for Astronomy of the University of
Amsterdam is a world leading institute in high-energy astrophysics
with top-rated internationally-oriented research groups in accreting
black holes and neutron stars and in gamma-ray burst research.  In
addition there are research groups excelling in ground-based
observational techniques and the study of stars and stellar evolution,
as well as planet formation. Our institute is also the seat of the
Transients Key Project of the international Low-Frequency Radio Array
which is currently being constructed in the Netherlands.  Our
institute has expertise with, and access to, international
observational facilities across the entire electromagnetic spectrum.
</p>

<div class="image right"><img src="{{ STATIC_URL }}institute/images/Pannekoek2.jpg" />Anton Pannekoek</div>
<p>
The Anton Pannekoek Institute participates in the National Research
School for Astronomy (NOVA) in the Netherlands. The institute has
three full professors, approximately a dozen each of permanent
research staff and postdocs, and about two dozen graduate students.
Approximately half of our postdoc/student population is foreign, and
thus English is the main language of our institute.  Beyond the weekly
colloquium and more informal pizza lunch seminar, there are several
student-formed study groups, and many other social activities and
interactions among the young people. We are located
20 minutes from downtown Amsterdam on the UvA Science Park campus, close
to the informatics/computing technology center of the Netherlands.
</p>
{% endblock contents %}
