{% extends "institute/base.html" %}
{% load map_filters %}
{% block title %}API - map{% endblock title %}
{% block stylesheets %}{{ block.super }} <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}institute/css/map.css" />{% endblock stylesheets %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}institute/javascript/modernizr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}institute/javascript/jquery.dimensions.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}institute/javascript/jquery.tooltip.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}institute/javascript/jquery.svg.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}institute/javascript/jquery.svgdom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}institute/javascript/map.js"></script>
{% endblock scripts %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'institute:map' %}">Contact</a>
{% endblock breadcrumbs %}

{% block contents %}
<div id="map">
<h1>Map of the institute</h1>

<p id="resize" onclick="enlarge(); return true;">Click to enlarge</p>

<svg:svg xmlns:svg="http://www.w3.org/2000/svg" version="1.1"
         viewBox="0 0 1400 600" id="svgmap" onclick="enlarge(); return true;">
  <svg:g stroke="black" fill="#fff">
    <svg:path d="M0 448 L0 0 L312 0" />
    <svg:g id="117" onmouseover="highlightnames('117');"  onmouseout="highlightnames('-117');">
      <svg:rect y="0" x="270" stroke="none" height="50" width="115" />
      <svg:path d="M385 50 L360 50" />
      <svg:path stroke-dasharray="4,4" d="M360 50 L270 50" />
      <svg:path d="M385 50 L385 0 L270 0 L270 50" />
      <svg:g stroke="#ff0000" id="tag117">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="117" stroke="none" y="17" x="255" fill="red">117</svg:text>
      </svg:g>
      <svg:g stroke="#ff0000" id="tag_commonroom">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" stroke="none" y="20" x="300" fill="red">Common</svg:text>
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" stroke="none" y="40" x="310" fill="red">room</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="128a" class="hover" onmouseover="highlightnames('128a');"  onmouseout="highlightnames('-128a');">
     <svg:path stroke="none" d="M0 0 L100 0 L100 50 L50 50 L50 115 L0 115 L0 0" />
     <svg:path d="M0 50 L0 0 L100 0 L100 50 L50 50 " />
     <svg:path d="M50 70 L50 115 M0 115 L0 0" />
     <svg:path stroke-dasharray="4,4" d="M50 70 L50 50" />
     <svg:g stroke="red" id="tag_128a">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="128" stroke="none" y="30" x="30" fill="red">128a</svg:text>
       <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="128" stroke="none" y="90" x="10" fill="red">128a</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="128" class="hover" onmouseover="highlightnames('128');" onmouseout="highlightnames('-128');">
     <svg:rect y="0" x="100" width="40" height="50" />
     <svg:g stroke="red" id="tag_128">
       <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="128" stroke="none" y="30" x="110" fill="red">128</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="126" onmouseover="highlightnames('126');"  onmouseout="highlightnames('-126');">
      <svg:rect y="0" x="140" height="50" width="35" />
      <svg:g stroke="red" id="tag_126">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="126" stroke="none" y="30" x="145" fill="red">126</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="124" onmouseover="highlightnames('124');"  onmouseout="highlightnames('-124');">
      <svg:rect y="0" x="175" height="50" width="70" />
      <svg:g stroke="red" id="tag_124">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="124" stroke="none" y="30" x="200" fill="red">124</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="121" onmouseover="highlightnames('121');"  onmouseout="highlightnames('-121');">
      <svg:rect y="0" x="245" height="50" width="35" />
      <svg:g stroke="red" id="tag_121">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="121" stroke="none" y="30" x="250" fill="red">121</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="114" onmouseover="highlightnames('114');"  onmouseout="highlightnames('-114');">
      <svg:rect y="0" x="420" height="50" width="35" />
      <svg:g stroke="red" id="tag_114">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="114" stroke="none" y="30" x="425" fill="red">114</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="112" onmouseover="highlightnames('112');"  onmouseout="highlightnames('-112');">
      <svg:rect y="0" x="455" height="50" width="35" />
      <svg:g stroke="red" id="tag_112">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="112" stroke="none" y="30" x="460" fill="red">112</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="110" onmouseover="highlightnames('110');"  onmouseout="highlightnames('-110');">
      <svg:rect y="0" x="490" height="50" width="35" />
      <svg:g stroke="red" id="tag_110">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="110" stroke="none" y="30" x="495" fill="red">110</svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:path stroke-dasharray="4,4" d="M525 0 L720 0 M525 50 L720 50" />
      <svg:path d="M525 0 L525 50 M720 0 L720 50" />
    </svg:g>
    <svg:g>
      <svg:rect y="0" x="720" height="50" width="35" />
    </svg:g>
    <svg:g id="125" onmouseover="highlightnames('125');"  onmouseout="highlightnames('-125');">
      <svg:rect y="70" x="140" height="50" width="35" />
      <svg:g stroke="red" id="tag_125">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="125" stroke="none" y="100" x="145" fill="red">125</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="123" onmouseover="highlightnames('123');"  onmouseout="highlightnames('-123');">
      <svg:rect y="70" x="175" height="50" width="35" />
      <svg:g stroke="red" id="tag_123">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="123" stroke="none" y="100" x="180" fill="red">123</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="122" onmouseover="highlightnames('122');"  onmouseout="highlightnames('-122');">
      <svg:rect y="70" x="210" height="50" width="35" />
      <svg:g stroke="red" id="tag_110">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="122" stroke="none" y="100" x="215" fill="red">122</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="120" onmouseover="highlightnames('120');"  onmouseout="highlightnames('-120');">
      <svg:rect y="70" x="245" height="50" width="35" />
      <svg:g stroke="red" id="tag_120">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="120" stroke="none" y="100" x="252" fill="red">120</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="119" class="hover" onmouseover="highlightnames('119');"  onmouseout="highlightnames('-119');">
      <svg:rect y="70" x="280" height="50" width="35" />
      <svg:g stroke="red" id="tag_119">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="119" stroke="none" y="100" x="285" fill="red">119</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="118" class="hover" onmouseover="highlightnames('118');"  onmouseout="highlightnames('-118');">
      <svg:rect y="70" x="315" height="50" width="35" />
      <svg:g stroke="red" id="tag_118">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="118" stroke="none" y="100" x="320" fill="red">118</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="116" class="hover" onmouseover="highlightnames('116');"  onmouseout="highlightnames('-116');">
      <svg:rect y="70" x="350" height="50" width="35" />
      <svg:g stroke="red" id="tag_116">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="116" stroke="none" y="100" x="355" fill="red">116</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="115" class="hover" onmouseover="highlightnames('115');"  onmouseout="highlightnames('-115');">
      <svg:rect y="70" x="385" height="50" width="35" />
      <svg:g stroke="red" id="tag_115">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="115" stroke="none" y="100" x="390" fill="red">115</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="113" class="hover" onmouseover="highlightnames('113');"  onmouseout="highlightnames('-113');">
      <svg:rect y="70" x="420" height="50" width="35" />
      <svg:g stroke="red" id="tag_113">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="113" stroke="none" y="100" x="425" fill="red">113</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="111" class="hover" onmouseover="highlightnames('111');"  onmouseout="highlightnames('-111');">
      <svg:rect y="70" x="455" height="50" width="35" />
      <svg:g stroke="red" id="tag_111">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="111" stroke="none" y="100" x="462" fill="red">111</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="109" class="hover" onmouseover="highlightnames('109');"  onmouseout="highlightnames('-109');">
      <svg:rect y="70" x="490" height="50" width="35" />
      <svg:g stroke="red" id="tag_109">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="109" stroke="none" y="100" x="495" fill="red">109</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="108" onmouseover="highlightnames('108');"  onmouseout="highlightnames('-108');">
      <svg:rect y="70" x="525" height="50" width="35" />
      <svg:g stroke="red" id="tag_108">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="108" stroke="none" y="100" x="530" fill="red">108</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="107" class="hover" onmouseover="highlightnames('107');"  onmouseout="highlightnames('-107');">
      <svg:rect y="70" x="560" height="50" width="35" />
      <svg:g stroke="red" id="tag_107">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="107" stroke="none" y="100" x="565" fill="red">107</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="106" class="hover" onmouseover="highlightnames('106');"  onmouseout="highlightnames('-106');">
      <svg:rect y="70" x="595" height="50" width="35" />
      <svg:g stroke="red" id="tag_106">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="106" stroke="none" y="100" x="600" fill="red">106</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="105" class="hover" onmouseover="highlightnames('105');"  onmouseout="highlightnames('-105');">
      <svg:path d="M630 70 L700 70 L700 140" />
      <svg:path d="M630 70 L630 140 L700 140" />
      <svg:g stroke="red" id="tag_105">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="105" stroke="none" y="110" x="650" fill="red">105</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="176" class="hover" onmouseover="highlightnames('176');" onmouseout="highlightnames('-176');">
      <svg:path d="M720 90 L790 90 L790 205 L790 180 L720 180 L720 90" />
      <svg:g stroke="red" id="tag_176">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="172" stroke="none" y="150" x="740" fill="red">176</svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:rect x="720" y="225" width="70" height="140" />
    </svg:g>
    <svg:g>
      <svg:path d="M720 365 L790 365 L790 485 L720 485" />
      <svg:path stroke-dasharray="4,4" d="M720 365 L720 485" />
      <svg:g stroke="red" id="tag_IBED">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="400" x="740" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="171" class="hover" onmouseover="highlightnames('171');"  onmouseout="highlightnames('-171');">
      <svg:rect y="140" x="650" height="50" width="50" />
      <svg:g stroke="red" id="tag_171">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="171" stroke="none" y="170" x="660" fill="red">171</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="170" class="hover" onmouseover="highlightnames('170');"  onmouseout="highlightnames('-170');">
      <svg:rect y="190" x="650" height="50" width="50" />
      <svg:g stroke="red" id="tag_170">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="170" stroke="none" y="220" x="660" fill="red">170</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="169" onmouseover="highlightnames('169');"  onmouseout="highlightnames('-169');">
      <svg:rect y="240" x="650" height="50" width="50" />
      <svg:g stroke="red" id="tag_169">
        <!-- svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="169" stroke="none" y="270" x="665" fill="red">169</svg:text> / -->
      </svg:g>
    </svg:g>
    <svg:g id="168" onmouseover="highlightnames('168');"  onmouseout="highlightnames('-168');">
      <svg:rect y="290" x="650" height="50" width="50" />
      <svg:g stroke="red" id="tag_168">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="320" x="665" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="167" onmouseover="highlightnames('167');"  onmouseout="highlightnames('-167');">
      <svg:rect y="340" x="650" height="50" width="50" />
      <svg:g stroke="red" id="tag_167">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="370" x="665" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="166" onmouseover="highlightnames('166');"  onmouseout="highlightnames('-166');">
      <svg:rect y="390" x="650" height="50" width="50" />
      <svg:g stroke="red" id="tag_166">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="420" x="665" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="165" onmouseover="highlightnames('165');"  onmouseout="highlightnames('-165');">
      <svg:path d="M700 440 L630 440 L630 510" />
      <svg:path stroke-dasharray="4,4" d="M700 440 L700 510 L630 510" />
      <svg:g stroke="red" id="tag_165">
        <!-- svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="165" stroke="none" y="490" x="660" fill="red">165</svg:text> / -->
      </svg:g>
    </svg:g>
    <svg:g id="127" class="hover" onmouseover="highlightnames('127');"  onmouseout="highlightnames('-127');">
      <svg:path d="M140 70 L70 70 L70 140" />
      <svg:path d="M140 70 L140 140 L70 140" />
      <svg:g stroke="red" id="tag_127">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="127" stroke="none" y="110" x="95" fill="red">127</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="129" class="hover" onmouseover="highlightnames('129');"  onmouseout="highlightnames('-129');">
      <svg:rect y="115" x="0" height="50" width="50" />
      <svg:g stroke="red" id="tag_129">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="129" stroke="none" y="145" x="15" fill="red">129</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="131" class="hover" onmouseover="highlightnames('131');"  onmouseout="highlightnames('-131');">
      <svg:rect y="165" x="0" height="50" width="50" />
      <svg:g stroke="red" id="tag_13">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="131" stroke="none" y="195" x="15" fill="red">131</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="133" class="hover" onmouseover="highlightnames('133');"  onmouseout="highlightnames('-133');">
      <svg:rect y="215" x="0" height="50" width="50" />
      <svg:g stroke="red" id="tag_133">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="133" stroke="none" y="245" x="15" fill="red">133</svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:rect y="265" x="0" height="50" width="50" />
      <svg:g stroke="red" id="tag_p">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="295" x="15" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:rect y="315" x="0" height="50" width="50" />
      <svg:g stroke="red" id="tag_q">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="345" x="15" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:rect y="365" x="0" height="50" width="50" />
      <svg:g stroke="red" id="tag_w">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="395" x="15" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:rect y="415" x="0" height="50" width="50" />
      <svg:g stroke="red" id="tag_v">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="445" x="15" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="130" class="hover" onmouseover="highlightnames('130');"  onmouseout="highlightnames('-130');">
      <svg:rect y="140" x="70" height="50" width="50" />
      <svg:g stroke="red" id="tag_130">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="130" stroke="none" y="170" x="85" fill="red">130</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="132" class="hover" onmouseover="highlightnames('132');"  onmouseout="highlightnames('-132');">
      <svg:rect y="190" x="70" height="50" width="50" />
      <svg:g stroke="red" id="tag_132">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="132" stroke="none" y="220" x="85" fill="red">132</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="134" class="hover" onmouseover="highlightnames('134');"  onmouseout="highlightnames('-134');">
      <svg:rect y="240" x="70" height="50" width="50" />
      <svg:g stroke="red" id="tag_134">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="134" stroke="none" y="270" x="85" fill="red">134</svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:rect y="290" x="70" height="50" width="50" />
      <svg:g stroke="red" id="tag_z">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="320" x="85" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:rect y="340" x="70" height="50" width="50" />
      <svg:g stroke="red" id="tag_y">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="370" x="85" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:rect y="390" x="70" height="50" width="50" />
      <svg:g stroke="red" id="tag_x">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="420" x="85" fill="red"></svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:path stroke-dasharray="4,4" d="M70 440 L70 510 L140 510" />
      <svg:path d="M70 440 L140 440 L140 510" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="140" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="175" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="210" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="245" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="280" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="315" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="350" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="385" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="420" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="455" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="490" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="525" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="560" height="50" width="35" />
    </svg:g>
    <svg:g>
      <svg:rect y="460" x="595" height="50" width="35" />
    </svg:g>

    <svg:g>
      <svg:rect y="0" x="790" height="50" width="70" />
    </svg:g>
    <svg:g>
      <svg:rect y="0" x="860" height="50" width="70" />
    </svg:g>
    <svg:g>
      <svg:rect y="0" x="930" height="50" width="70" />
    </svg:g>
   <svg:g id="273" class="hover" onmouseover="highlightnames('273');" onmouseout="highlightnames('-273');">
      <svg:rect x="1250" y="0" width="80" height="50" />
     <svg:g stroke="red" id="tag_273">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="30" x="1280" fill="red">273</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="273a" class="hover" onmouseover="highlightnames('273a');" onmouseout="highlightnames('-273a');">
      <svg:rect x="1080" y="0" width="170" height="50" />
     <svg:g stroke="red" id="tag_273">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="30" x="1140" fill="red">273a</svg:text>
      </svg:g>
    </svg:g>
    <svg:g id="273b" class="hover" onmouseover="highlightnames('273b');"
      onmouseout="highlightnames('-273b');">
      <svg:rect x="930" y="0" width="150" height="50" />
     <svg:g stroke="red" id="tag_273">
        <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="" stroke="none" y="30" x="980" fill="red">273b</svg:text>
      </svg:g>
    </svg:g>
    <svg:g>
      <svg:rect x="1390" y="0"  height="50" width="70" />
    </svg:g>
    <svg:g>
      <svg:path d="M1030 70 L950 70 L950 140 L1010 140" />
    </svg:g>
    <svg:g>
      <svg:rect x="1030" y="70" height="50" width="50" />
    </svg:g>
    <svg:g>
      <svg:rect x="1080" y="70" height="50" width="50" />
    </svg:g>
    <svg:g>
      <svg:rect x="1130" y="70" height="50" width="50" />
    </svg:g>
    <svg:g>
      <svg:rect x="1180" y="70" height="50" width="50" />
    </svg:g>
    <svg:g>
      <svg:rect x="1230" y="70" height="50" width="50" />
    </svg:g>
    <svg:g>
      <svg:rect x="950" y="140" height="70" width="60" />
    </svg:g>
    <svg:g>
      <svg:rect x="950" y="210" height="70" width="60" />
    </svg:g>
    <svg:g>
      <svg:rect x="950" y="280" height="100" width="60" />
    </svg:g>
    <svg:g>
      <svg:rect x="950" y="370" height="70" width="60" />
    </svg:g>
    <svg:g>
      <svg:path d="M1030 510 L950 510 L950 440 L1010 440" />
    </svg:g>

    <svg:g>
      <svg:path d="M1500 120 L1010 120 L1010 460 L1500 460" />
    </svg:g>

    <svg:g id="vide">
      <svg:path d="M790 90 L790 70 L920 70 L920 290 L880 290 L880 250 L810 250 L810 290 L790 290" />
      <svg:path d="M790 330 L810 330 L810 370 L880 370 L880 330 L920 330 L920 510 L790 510 L790 480" />
      <svg:g stroke="#666" id="tag_vide">
        <svg:text style="font-family: sans-serif; font-size: 160%;" text="" stroke="none" y="180" x="830" fill="#666">Vide</svg:text>
        <svg:text style="font-family: sans-serif; font-size: 160%;" text="" stroke="none" y="430" x="830" fill="#666">Vide</svg:text>
      </svg:g>
      <svg:g stroke="lefet" id="tag_lift">
        <svg:text style="font-family: sans-serif; font-size: 140%;" text="" stroke="none" y="320" x="825" fill="blue">Lifts</svg:text>
      </svg:g>
    </svg:g>

    <svg:g id="201" class="hover" onmouseover="highlightnames('201');" onmouseout="highlightnames('-201');">
     <svg:rect y="200" x="1100" width="130" height="170" />
     <svg:g stroke="red" id="tag_201">
       <svg:text style="font-family: Helvetica, Arial, sans-serif; font-size: 110%;" text="201" stroke="none" y="280" x="1140" fill="red">C3-201</svg:text>
      </svg:g>
    </svg:g>

  </svg:g>
</svg:svg>

{% for tooltip in tooltips %}
{{ tooltip|safe }}
{% endfor %}

<div id="mapcolumns">
{% for person in persons %}
<div class="office {{ person.office|office }}" {% if person.office %} onmouseover="highlightoffices('{{ person.office|office }}');" onmouseout="highlightoffices('-{{ person.office|office }}');" {% endif %}>
<span style="float; left;">{{ person.full_name }}</span>
<span style="float: right;">{{ person.office }}</span>
</div>
{% endfor %}
</div> <!-- mapcolumns -->
</div> <!-- map -->
<div id="nomap">Sorry, your browser does not support the interactive map</div>

{% endblock contents %}
