{% extends "news/base.html" %}
{% load news_filters %}
{% block title %}API - Wednesday afternoon colloquia{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'news:colloquium' %}">Colloquia</a>
{% endblock breadcrumbs %}


{% block contents %}

<h1>Wednesday afternoon colloquia</h1>

<p>
The API colloquia are weekly meetings where people give a 45 minute
overview of their work. Afterwards there is time for discussion.
At the end of each month the colloquia are jointly held with
<a href="http://grappa.science.uva.nl/">GRAPPA</a>.
Biscuits provided, along with wine and cheese after the colloquium.
</p>


<a name="contact"></a>
<p>
The contact person for the regular API colloquia is
<a href="mailto:P.Uttley@uva.nl">Phil Uttley</a>. </br>
The contact person for the joint GRAPPA/API colloquia is
<a href="mailto:J.Vink@uva.nl">Jacco Vink</a>.
</p>


{% if not object_list %}
<p>There are currently no colloquia scheduled</p>
{% else %}
<!-- <p>Biscuits provided</p> -->
{% endif %}

<hr/>


{% for object in object_list %}
{% if forloop.counter == 1 and object.upcoming %}<p class="runin">Upcoming colloquia</p>{% endif %}
{% if forloop.counter == 1 and object.past_due %}<p class="runin">Past colloquia</p>{% endif %}
{% ifchanged object.upcoming %}{% if forloop.counter > 1 %}<p class="runin"><br />Past colloquia</p>{% endif %}{% endifchanged %}
<h2 class="listing">{{ object.title }}</h2>
<p class="speaker">{{ object.speaker }}{% if object.affiliation %} &#8212; {{ object.affiliation }}{% endif %}{% if object.teaser_picture %}<img src="{{ MEDIA_URL }}{{ object.teaser_picture }}" class="teaser" />{% endif %}</p>
<p class="teaser">{{ object.teaser_text|linebreaksbr }}</p>
{% if object.text %}<a href="{{ object.get_absolute_url }}">Read more</a>{% endif %}
<p class="listing">{{ object.date|date:"l j F Y" }}, {{ object.time|time:"H:i" }}{% if object.location %}. Location: {{ object.location }}{% endif %}</p>

{% endfor %}

<div class="page-navigation">
{% if page_obj %}{{ page_obj|paginate:"2,2" }}{% endif %}
</div>

{% if perms.news.add_colloquium and perms.news.change_colloquium %}<div class="edit"><a href="{% url 'admin:index' %}news/colloquium/add/">add</a> | <a href="{% url 'admin:index' %}news/colloquium/">edit</a></div>{% endif %}

{% endblock contents %}

