{% extends "news/base.html" %}
{% load news_filters %}
{% block title %}API - Thursday lunch time talks{% endblock title %}

{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url 'news:pizza' %}">Pizza lunch news</a>
{% endblock breadcrumbs %}


{% block contents %}

<h1>Pizza lunch talks</h1>

<p>
The API pizza lunch talks are informal, weekly meetings where people give a half hour overview of their work (or perhaps a totally different topic), in an informal atmosphere. Pizza meeting is not a colloquium, but is intended to inform and stimulate discussion about the topic.
</p>

<p>
<a href="{% url 'news:pizza-about' %}">More information</a> (including tips for speakers, contact points and the latest API articles &amp; circulars).
</p>

<hr/>

{% if not object_list %}
<p>There are currently no lunch talks scheduled</p>
{% endif %}

{% for object in object_list %}
{% if forloop.counter == 1 and object.upcoming %}<p class="runin">Upcoming lunch talks</p>{% endif %}
{% if forloop.counter == 1 and object.past_due %}<p class="runin">Past lunch talks</p>{% endif %}
{% ifchanged object.upcoming %}{% if forloop.counter > 1 %}<p class="runin"><br />Past lunch talks</p>{% endif %}{% endifchanged %}
<h2 class="listing">{{ object.title }}</h2>
<p class="speaker">{{ object.speaker }}{% if object.affiliation %} &#8212; {{ object.affiliation }}{% endif %}{% if object.teaser_picture %}<img src="{{ MEDIA_URL }}{{ object.teaser_picture }}" class="teaser" />{% endif %}</p>
<p class="teaser">{{ object.teaser_text|linebreaksbr }}</p>
{% if object.text %}<a href="{{ object.get_absolute_url }}">Read more</a>{% endif %}
{% if object.shorttalk_speaker %}<p>Short talk given by {{ object.shorttalk_speaker }}</p>{% endif %}
<p>{{ object.date|date:"l j F Y" }}, {{ object.time|time:"H:i" }}{% if object.location %}. Location: {{ object.location }}{% endif %}</p>
{% endfor %}


<div class="page-navigation">
{% if page_obj %}{{ page_obj|paginate:"2,2" }}{% endif %}
</div>

{% if perms.news.add_pizza and perms.news.change_pizza %}<div class="edit"><a href="{% url 'admin:index' %}news/pizza/add/">add</a> | <a href="{% url 'admin:index' %}news/pizza/">edit</a></div>{% endif %}

{% endblock contents %}
