{% extends "internal/base.html" %}
{% block title %}API - internal pages: login{% endblock title %}
{% block contents %}

<h1> Login at Api local pages, members only </h1>

{% if not user.is_authenticated %}

{% if form.errors %}
<p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'account:login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
    <td colspan="2" align="center" valign="bottom">
        <input type="submit" value="Login at API internal pages" />
    </td>
</tr>
</table>

<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'internal:index' %}{% endif %}" />
</form>


{% else %}

<p>
Welcome {{ user.username }}. You are already logged in.
</p>

{% endif %}


{% endblock contents %}

