{% extends "internal/base.html" %}
{% block title %}API - internal pages: password changed{% endblock title %}

{% block contents %}


<h1>Password change successful</h1>

<p>Your password was changed.</p>


{% endblock contents %}
