{% extends "publiek/starnights/base.html" %}
{% block title %}API - Sterrenkijkavonden{% endblock title %}
{% block scripts %}{{ block.super }}{{ form.media }}{% endblock scripts%}
{% block contents %}

<h1> Aanmeldingsformulier voor API sterrenkijkavond </h1>

{% if not register_on or register_full %}

<p>
De inschrijving voor 18 maart is alweer gesloten! Het is erg snel gegaan!
De volgende sterrenkijkavond is op 29 april.
Op 22 april (12:00) komt een formulier online voor deze sterrenkijkavond.
<!--
De inschrijving voor 11 maart is alweer gesloten! Het is erg snel gegaan!
De volgende sterrenkijkavond is op 18 maart.
Op 11 maart (12:00) komt een formulier online voor deze sterrenkijkavond.
-->
Door hieronder uw e-mailadres in te vullen blijft u op de hoogte van toekomstige sterrenkijkavonden.
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//uva.us9.list-manage.com/subscribe/post?u=fed40783a09506aac6aab0ce6&amp;id=0851815ab6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Schrijf u in voor onze maandelijkse nieuwsbrief</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mailadres" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_fed40783a09506aac6aab0ce6_0851815ab6" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!-- End mc_embed_signup -->
</p>


{% else %}


<p>
Door middel van onderstaand formulier kunt u zich aanmelden voor
de komende sterrenkijkavond.
Zodra u zich heeft aangemeld ontvangt u een bevestigingsmail
waarmee u zich op de sterrenkijkavond kan melden.
</p>
<p>
Wij houden u op de hoogte van de laatste ontwikkelingen betreft
de API-sterrenkijkavonden via de nieuwsbrief.
U kunt aangeven of u de nieuwsbrief via de e-mail wilt ontvangen.
</p>


{% if form.non_field_errors %}
<p>
Sorry, er moeten verbeteringen in onderstaand formulier gemaakt worden.
{{ form.non_field_errors }}
</p>
{% endif %}

{% if form.is_multipart %}
   <form enctype="multipart/form-data" method="post" action=".">
{% else %}
   <form method="post" action=".">
{% endif %}
{% csrf_token %}


<p>
<table>
{% if form.date.errors %}
<tr><th>{{ form.date.label_tag }}:</th><td>{{ form.date.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.date.label_tag }} </th><td>{{ form.date }}</td><th></th></tr>

{% if form.name.errors %}
<tr><th>{{ form.name.label_tag }}:</th><td>{{ form.name.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.name.label_tag }} </th><td>{{ form.name }}</td><th></th></tr>

{% if form.address.errors %}
<tr><th>{{ form.address.label_tag }}:</th><td>{{ form.address.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.address.label_tag }} </th><td>{{ form.address }} </td> <th></th> </tr>

{% if form.zipcode.errors %}
<tr><th>{{ form.zipcode.label_tag }}:</th><td>{{ form.zipcode.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.zipcode.label_tag }} </th><td>{{ form.zipcode }} </td><th></th></tr>

{% if form.city.errors %}
<tr><th>{{ form.city.label_tag }}:</th><td>{{ form.city.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.city.label_tag }} </th><td>{{ form.city }}     </td><th></th></tr>

{% if form.email.errors %}
<tr><th>{{ form.email.label_tag }}:</th><td>{{ form.email.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.email.label_tag }} </th><td>{{ form.email}}   </td><th></th></tr>

{% if form.newsletter.errors %}
<tr><th>{{ form.newsletter.label_tag }}:</th><td>{{ form.newsletter.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.newsletter.label_tag }} </th><td>{{ form.newsletter}}   </td><th></th></tr>

{% if form.number.errors %}
<tr><th>{{ form.number.label_tag }}:</th><td>{{ form.number.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.number.label_tag }} </th><td>{{ form.number }}   </td><th></th></tr>


</table>
</p>

<p><input type="submit" value="Verstuur aanmelding" /></p>

</form>

{% endif %}

{% endblock contents%}


