{% extends "education/projects/master/base.html" %}
{% block title %}API - education: {{ object.title }}{% endblock title %}
{% block contents %}
<h1>{{ object.title }}</h1>

{{ object.text|safe }}

<div>
Contact: {{ object.contact }}
</div>

{% endblock contents %}
