{% extends "library/base.html" %}
{% load filters %}
{% block title %}The Anton Pannekoek Library{% endblock title %}


{% block contents %}


<h1>The Anton Pannekoek Library</h1>

<p>
The API library is located in the common room C4-117.
In the library you will find both books and a selection of PhD and Masters theses.
</p>

<h2> Theses </h2>

<p>
On the shelf directly underneath the spiral staircase, you will find:
</p>
<p>
Top two shelves:
API PhD theses, in chronological order.
For a catalogue see
<a href="/research/theses_phd/" target="_self"> API PhD theses.</a>
</br>
Third shelf:
A selection of PhD theses from other universities, in chronological order.
For a catalogue see
<a href="/library/phdtheses/" target="_self"> Other PhD theses.</a>
</br>
Lower shelves:
API Masters theses, in chronological order.
Catalogue to follow shortly.
</p>

<h2> Books and Proceedings/Journals </h2>

<p>
Here we will explain you how to use the library and list
all books available in the catalogue in the table below.
For a catalogue of all of the proceedings and journals
that are on top of the shelves and in the cupboards see
<a href="/library/proceedings/" target="_self"> Journals and Proceedings.</a>
</p>

<h3>To locate a book</h3>

<p>
Find the catalogue number using the electronic catalogue.
There should also be a red paper catalogue on the red magazine racks.
The books are catalogued using the Library of Congress (LOC) catalogue system,
which has an alphabetical 'broad subject' code (A..B...Q...QA...QB...etc),
followed by a numerical 'specialist subject' code (1 - 999) and then
the year of publication, followed by a letter (A, B, C) if there are
multiple books on that topic in that year.
A typical catalogue number therefore has the form QC485 1963 B.
</p>

<p>
The books are on the shelves in order of the LOC code.
You can find a map telling you which codes are on which bookcases on
the white board in the library.
The four white shelves are cases 1-4, and case 5 is under
the spiral stairs, next to the thesis shelf.
</p>

<h3>To borrow a book</h3>

<p>
Take a borrowing card from the large box (found on top of the magazine racks).
Fill out the card with the title of the book, the catalogue number,
your name and email address.
Remove the book from the shelf and put the card in its place.
</p>

<h3>To return a book</h3>

<p>
Remove the borrowing card from the shelf and replace the book in the correct location.
Score out your name on the card and return it to the box.
Please do remember to return books once you are done with them,
or if you are going away on travel or vacation for an extended period.
At the very least, leave them on your desk rather than at home,
so that others can track them down if necessary.
</p>

<p>
<h3>Special notes:</h3>
<ol>
<li> Browsing is encouraged!
However, due to the aforementioned absence of logic,
if you take a book down, the chances of you figuring out
where it should be returned to using the powers of reason
alone are slim to none. So unless you have a tip-top memory,
consider putting a (blank) borrowing card in place,
even if you just take a book down to skim through whilst drinking a coffee.
</li>
<li>
If you run into any problems (missing books,
system even less logical than you expect),
contact Anna (<a href="mailto:A.L.Watts@uva.nl">A.L.Watts@uva.nl</a>).
</li>
<li>
In the cupboards and on top of the white shelves are
series of conference proceedings, symposia etc.
These are not yet in the catalogue, but they are filed in order -
please take a look to familiarise yourself with what we have.
These will be added to the electronic catalogue shortly.
</li>
</ol>
</p>


<p>
</p>

<h3>Colour legend:</h3>
<table>
<tr class="missing"><td>Missing</td></tr>
<!-- <tr class="on_loan"><td>On loan</td></tr> NOT YET USED -->
</table>

<hr>

<table class="addresses">
<thead>
<tr>
<th> Label</th>
<th> Year</th>
<th> Lead Author</th>
<th> Title</th>
</thead>
<tbody>
{% for book in books %}
<tr class="{% cycle 'odd' 'even' %}{% if book.status == 'missing' %} missing{% else %}{% if book.status == 'on_loan' %} on_loan{% endif %}{% endif %}">
<!--<td nowrap>{{ book.label }}</td> -->
<td>{{ book.label|re_label|safe }}</td>
<td>{% if book.year %}{{ book.year }}{% endif %}</td>
<td>{{ book.authors }}</td>
<td>{{ book.title }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock contents %}
