{% extends "library/base.html" %}
{% load filters %}
{% block title %}The Anton Pannekoek Library{% endblock title %}


{% block contents %}


<h1>Phd Theses from other Universities</h1>


<hr>

<table class="addresses">
<thead>
<tr>
<th> Author</th>
<th> Year</th>
<th> University</th>
<th> Title</th>
</thead>
<tbody>
{% for thesis in phdtheses %}
<tr class="{% cycle 'odd' 'even' %}{% if thesis.status == 'missing' %} missing{% else %}{% if thesis.status == 'on_loan' %} on_loan{% endif %}{% endif %}">
<!--<td nowrap>{{ thesis.author }}</td> -->
<td>{{ thesis.author|re_label|safe }}</td>
<td>{% if thesis.year %}{{ thesis.year }}{% endif %}</td>
<td>{{ thesis.university }}</td>
<td>{{ thesis.title }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock contents %}
