{% extends "library/base.html" %}
{% load filters %}
{% block title %}The Anton Pannekoek Library{% endblock title %}


{% block contents %}


<h1>Journals and Proceedings of Workshop/Conferences</h1>


<hr>

<table class="addresses">
<thead>
<tr>
<th> Place</th>
<th> Year</th>
<th> Authors</th>
<th> Title</th>
</thead>
<tbody>
{% for proceeding in proceedings %}
<tr class="{% cycle 'odd' 'even' %}{% if proceeding.status == 'missing' %} missing{% else %}{% if proceeding.status == 'on_loan' %} on_loan{% endif %}{% endif %}">
<!--<td nowrap>{{ proceeding.label }}</td> -->
<td>{{ proceeding.label|re_label|safe }}</td>
<td>{% if proceeding.year %}{{ proceeding.year }}{% endif %}</td>
<td>{{ proceeding.authors }}</td>
<td>{{ proceeding.title }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock contents %}
