{% extends "staffmeetings/base.html" %}
{% block title %}API - staff meetings{% endblock title %}
{% block contents %}

<h1>{{ title }}</h1>


<a id="prev" href="{% url 'staffmeetings:index' year|add:'-1' %}">&lt;&lt; Prev year</a>
<a id="next" href="{% url 'staffmeetings:index' year|add:'1' %}">Next year &gt;&gt;</a>


{% if not object_list %}
<h2>There have been no staff meetings in {{year}}.</h2>
{% else %}
{% for staffmeeting in object_list %}
<p>
<h2>{{ staffmeeting.date|date:"l j F Y" }}</h2>
<ul>
{% for attachment in staffmeeting.attachments.all %}
{% if staff and attachment.permission == 0 %}
<li> <a href="{{ attachment.file.url }}">{{ attachment.name }}</a></li>
{% endif %}
{% if attachment.permission == 1 %}
<li> <a href="{{ attachment.file.url }}">{{ attachment.name }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}
{% endif %}

{% if perms.staffmeetings.change_staffmeeting and perms.staffmeetings.add_staffmeeting %}<div class="edit"><a href="{% url 'admin:index' %}staffmeetings/staffmeeting/add/">add</a> | <a href="{% url 'admin:index' %}staffmeetings/staffmeeting/">edit</a></div>{% endif %}



{% endblock contents %}
