{% extends "education/courses/base.html" %}
{% block title %}API - education: courses{% endblock title %}
{% block contents %}
<h1>{{ object.name }}</h1>

<div>
{{ object.description|urlize|linebreaks }}
</div>

{% endblock contents %}
