{% extends "publiek/starnights/base.html" %}
{% block title %}API - Sterrenkijkavonden{% endblock title %}
{% block scripts %}{{ block.super }}{{ form.media }}{% endblock scripts%}
{% block contents %}

<h1> Aanmeldingsformulier voor API sterrenkijkavond </h1>

{% if not register_on or register_full %}
<p>

Er is op het ogenblik geen sterrenkijkavond waarop u zich kunt inschrijven.
Door een e-mail te sturen naar
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
kunt u aangeven of u op de hoogte wilt blijven van
de toekomstige sterrenkijkavonden.



<!--
Vanaf 18 april kunt u zich via het
aanmeldingsformulier dat op deze pagina zal verschijnen
aanmelden voor de sterrenkijkavond van 25 april.
Door een mail te sturen naar
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
kunt u aangeven of u op de hoogte wilt blijven van de sterrenkijkavonden.

Er is op het ogenblik geen sterrenkijkavond waarop u zich kunt inschrijven.
De avond op 3 oktober is volgeboekt en de
volgende avond vindt plaats op 31 oktober.
Door een e-mail te sturen naar
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
kunt u aangeven of u op de hoogte wilt blijven van
de toekomstige sterrenkijkavonden.
-->

</p>


{% else %}


<p>
Door middel van onderstaand formulier kunt u zich aanmelden voor
de komende sterrenkijkavond.
U kunt een keuze maken uit verschillende activiteiten,
en zo een programma samenstellen.
Dit programma geldt dan voor alle personen die u tegelijk aanmeldt.
Zodra u zich heeft aangemeld ontvangt u een bevestigingsmail
waarmee u zich op de sterrenkijkavond kan melden.
</p>
<p>
Wij houden u op de hoogte van de laatste ontwikkelingen betreft
de API-sterrenkijkavonden via de nieuwsbrief.
U kunt aangeven of u de nieuwsbrief via de e-mail wilt ontvangen.
</p>

<!--
<p>
De activiteiten waaruit u kunt kiezen: </br>
<table>
<tr><td>Lezing</td><td>Kinderlezing over een sterrenkundig onderwerp</td></tr>
<tr><td>Quiz</td><td>Quiz over het onderwerp van de lezing</td></tr>
<tr><td>Rondleiding A/B</td><td>Rondleiding langs de telescopen van het Anton Pannekoek Instituut bij bewolking</td></tr>
<tr><td>Waarnemen A/B</td><td>Waarnemen van de sterrenhemel met een van de daktelescopen bij een heldere hemel</td></tr>
<tr><td>Astrocafé</td><td>Vragen stellen aan astronomen met een lekkernij en sap bij bewolking</td></tr>
<tr><td>Waarnemen P</td><td>Waarnemen van de sterrenhemel vanaf het grasveld bij een heldere hemel</td></tr>
<tr><td>Knutselen</td><td>Knutselen van een sterrenstelsel, pulsar of een ander sterrenkundig object</td></tr>
</table>
</p>
-->

<!--
<p>
De activiteiten waaruit u kunt kiezen:
<ul>
<li>Lezing - Lezing over een sterrenkundig onderwerp</li>
<li>Quiz - Quiz over het onderwerp van de lezing</li>
<li>Rondleiding A/B - Rondleiding langs de telescopen van het Anton Pannekoek Instituut</li>
<li>Astrocafé - Vragen stellen aan astronomen met een lekkernij en sap</li>
</ul>
</p>
-->


{% if form.non_field_errors %}
<p>
Sorry, er moeten verbeteringen in onderstaand formulier gemaakt worden.
{{ form.non_field_errors }}
</p>
{% endif %}

{% if form.is_multipart %}
   <form enctype="multipart/form-data" method="post" action=".">
{% else %}
   <form method="post" action=".">
{% endif %}
{% csrf_token %}


<p>
<table>
{% if form.date.errors %}
<tr><th>{{ form.date.label_tag }}:</th><td>{{ form.date.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.date.label_tag }} </th><td>{{ form.date }}</td><th></th></tr>

{% if form.name.errors %}
<tr><th>{{ form.name.label_tag }}:</th><td>{{ form.name.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.name.label_tag }} </th><td>{{ form.name }}</td><th></th></tr>

{% if form.address.errors %}
<tr><th>{{ form.address.label_tag }}:</th><td>{{ form.address.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.address.label_tag }} </th><td>{{ form.address }} </td> <th></th> </tr>

{% if form.zipcode.errors %}
<tr><th>{{ form.zipcode.label_tag }}:</th><td>{{ form.zipcode.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.zipcode.label_tag }} </th><td>{{ form.zipcode }} </td><th></th></tr>

{% if form.city.errors %}
<tr><th>{{ form.city.label_tag }}:</th><td>{{ form.city.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.city.label_tag }} </th><td>{{ form.city }}     </td><th></th></tr>

{% if form.email.errors %}
<tr><th>{{ form.email.label_tag }}:</th><td>{{ form.email.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.email.label_tag }} </th><td>{{ form.email}}   </td><th></th></tr>

{% if form.newsletter.errors %}
<tr><th>{{ form.newsletter.label_tag }}:</th><td>{{ form.newsletter.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.newsletter.label_tag }} </th><td>{{ form.newsletter}}   </td><th></th></tr>

{% if form.number.errors %}
<tr><th>{{ form.number.label_tag }}:</th><td>{{ form.number.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.number.label_tag }} </th><td>{{ form.number }}   </td><th></th></tr>


{% if form.slot1.errors %}
<tr><th>{{ form.slot1.label_tag }}:</th><td>{{ form.slot1.errors }}</td><th></th></tr>
{% endif %}
<tr><th> {{ form.slot1.label_tag }} </th><td>{{ form.slot1 }}   </td><th>
{% for key, value in people1 %}
  {{value}}</br>
{% endfor %}
</th></tr>


{% if form.slot2.errors %}
<tr><th>{{ form.slot2.label_tag }}:</th><td>{{ form.slot2.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.slot2.label_tag }} </th><td>{{ form.slot2 }}   </td><th>
{% for key, value in people2 %}
  {{value}}</br>
{% endfor %}
</th></tr>


{% if form.slot3.errors %}
<tr><th>{{ form.slot3.label_tag }}:</th><td>{{ form.slot3.errors }}</td><th></th></tr>
{% endif %}
<tr><th>{{ form.slot3.label_tag }} </th><td>{{ form.slot3 }}   </td><th>
{% for key, value in people3 %}
  {{value}}</br>
{% endfor %}
</th></tr>


</table>
</p>

<p><input type="submit" value="Verstuur aanmelding" /></p>

</form>

{% endif %}

{% endblock contents%}


