{% extends "publiek/starnights/base.html" %}
{% block title %}API - Sterrenkijkavonden{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url publiek:sterrenkijkavonden %}">Sterrenkijkavonden</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API Stargazing night</h1>

<p>
Always wanted to take a look through a telescope to admire the night sky?
Or wanted to ask lots of questions about astronomy?
The next APO open night will be on Friday 26 February.
This is a night for adults and the language spoken will be English.
We’ll start at 7PM with a talk by Dr. Jason Hessels called "Mysterious Radio Flashes from Outer Space",
and between 8PM and 10PM there will be stargazing and astro café.
In case of cloudy weather, there will be tours of the domes.
</p>

<p>
Participation in the APO open night is free of charge, but registration is required.
Registration starts at noon on Friday 19 February through the form that will be uploaded at
<a href="http://www.astro.uva.nl/publiek/aanmeldingsformulier/"> aanmeldingsformulier.</a>
Please do not try to register by e-mail. The maximum amount of visitors is 80.
The stargazing night is organized in cooperation with the amateur society
<a href="http://www.volkssterrenwachtamsterdam.nl/"> Volkssterrenwacht Amsterdam.</a>
</p>


<p>
If you would like to stay informed about the stargazing nights please send
an e-mail to <a href="mailto:E.Hanko@uva.nl">E.Hanko@uva.nl</a>.
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//uva.us9.list-manage.com/subscribe/post?u=fed40783a09506aac6aab0ce6&amp;id=0851815ab6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
<label for="mce-EMAIL">Schrijf u in voor onze maandelijkse nieuwsbrief</label>
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-mailadres" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_fed40783a09506aac6aab0ce6_0851815ab6" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Inschrijven" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!-- End mc_embed_signup -->
</p>


<p>
Address:
Anton Pannekoek Institute for Astronomy </br>
Science Park 904 </br>
1098 XH Amsterdam </br>
You will be welcomed at the reception.
</p>

<p>
Many paid parking spots are available at the Science Park Amsterdam.
The Science Park can easily be reached by public transport:
the train and bus 40 stop regularly. The
<a href="http://www.amsterdamsciencepark.nl/fileadmin/user_upload/documents/Contact_and_route/Amsterdam_Science_Park.pdf"> map </a>
shows the buildings in the area, including Science Park 904.
The observatory can not be reached by disabled visitors.
Participating in the observing and the tours is therefore not possible.
</p>



<p>
Contact: </br>
Esther Hanko MA </br>
Anton Pannekoek Instituut voor Sterrenkunde </br>
E-mail: <a href="mailto:E.Hanko@uva.nl">E.Hanko@uva.nl</a> </br>
Telnr: +31 (0)20-5257491
</p>


<p>
<iframe src="http://www.at5.nl/video/105085"  width="480"  height="270"  frameborder="0"  scrolling="auto"></iframe>
</p>


<!--
<p>
<iframe width="553" height="480" src="http://www.at5.nl/embed/iframe?e=15946" frameborder="0" allowfullscreen></iframe>
</p>
-->


<p>
<object width="550" height="400"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to=" width="550" height="400"></embed></object>
</p>


{% endblock contents %}
