{% extends "publiek/starnights/base.html" %}
{% block title %}API - Sterrenkijkavonden{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url publiek:starnights %}">Starnights</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API Sterrenkijkavonden</h1>


<p>
Heeft u altijd al eens de sterrenhemel van dichtbij willen bekijken?
In het najaar worden sterrenkijkavonden georganiseerd aan het Sterrenkundig
Instituut Anton Pannekoek aan de Universiteit van Amsterdam (UvA).
Op een heldere avond worden meerdere telescopen opgesteld,
waarmee u de sterrenhemel kunt waarnemen. Bij bewolking vinden
rondleidingen door de sterrenkoepels plaats.
Voorafgaand wordt een sterrenkundige lezing gegeven.
</p>

<p>
Verslag van de eerste sterrenkijkavonden op de website van de
<a href="http://www.uva.nl/over-de-uva/organisatie/faculteiten/content/faculteit-der-natuurwetenschappen-wiskunde-en-informatica/actueel/nieuws/nieuws/content-10/folder/2013/04/sterrenkijkavonden-april-2013.html">UvA.</a>
</p>

<p>
Door een e-mail te sturen naar
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
kunt u aangeven of u op de hoogte wilt blijven van
de komende sterrenkijkavonden.
Ook verzoeken voor groepsrondleidingen kunt u indienen door
een e-mail te sturen naar <a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>.
</p>

<p>
De sterrenkijkavond wordt georganiseerd in samenwerking met de
<a href="http://www.volkssterrenwachtamsterdam.nl/"> Volkssterrenwacht Amsterdam.</a>
</p>

<p>
Contact: </br>
Franka Buurmeijer MSc </br>
Sterrenkundig Instituut Anton Pannekoek </br>
E-mail: <a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a> </br>
Telnr: +31 (0)20-5257480
</p>

<p>
<object width="550" height="400"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to=" width="550" height="400"></embed></object>
</p>


{% endblock contents %}
