{% extends "publiek/starnights/base.html" %}
{% block title %}API - Stargazing nights{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url publiek:starnights %}">Starnights</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API Stargazing night</h1>


<p>
Have you been waiting for the chance to see the starry sky up close?
On friday 31 October an English stargazing night takes place at the
Anton Pannekoek Institute of Astronomy of the University of Amsterdam.
Several telescopes are available to observe the night sky on a clear evening.
On a cloudy evening there are tours through the domes and volunteers of
the amateur society Volkssterrenwacht Amsterdam will introduce you to
the night sky in the Astrocafé.
The evening starts with the lecture "The Role of Black Holes in the Universe"
by <a href="/people/sera-markoff"> dr. Sera Markoff</a>.
</p>
<p>
Pre-registration is necessary.
Registration will be possible from 24 October 12:00h by a form on this website.
You can register at the desk in the main entrance hall of Science Park 904 from 18.30h.
The activities start at 19.00h and the evening ends at 22.00h.
If you would like to stay informed about the stargazing nights please send an e-mail to
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
</p>

<p>
Address:
Science Park 904 </br>
1098 XH Amsterdam
</p>

<p>
Many paid parking spots are available at the Science Park Amsterdam.
The Science Park can easily be reached by public transport:
the train and bus 40 stop regularly. The
<a href="http://www.scienceparkamsterdam.nl/fileadmin/site/dokumenten/Science_Park/Plattegronden/A5_plattegrond_SPA_web.pdf"> map </a>
shows the buildings in the area, including Science Park 904.
The observatory can not be reached by disabled visitors.
Participating in the observing and the tours is therefore not possible.
</p>

<p>
The stargazing night is organized in cooperation with the amateur society
<a href="http://www.volkssterrenwachtamsterdam.nl/"> Volkssterrenwacht Amsterdam.</a>
</p>

<p>
Contact: </br>
Franka Buurmeijer MSc </br>
Anton Pannekoek Instituut voor Sterrenkunde </br>
E-mail: <a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a> </br>
Telnr: +31 (0)20-5257480
</p>



<p>
<object width="550" height="400"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to=" width="550" height="400"></embed></object>
</p>


{% endblock contents %}
