{% extends "publiek/starnights/base.html" %}
{% block title %}API - Sterrenkijkavonden{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url publiek:starnights %}">Starnights</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API Sterrenkijkavond</h1>


<p>
Bekijk de sterrenhemel met de telescopen of volg een rondleiding
door de sterrenkoepels! Astronomen vertellen over hun
laatste ontdekkingen.
</p>
<p>
Heb je altijd al eens de sterrenhemel van dichtbij willen bekijken?
Vrijdag 28 februari vindt een sterrenkijkavond plaats bij het
Anton Pannekoek Instituut voor Sterrenkunde aan de Universiteit
van Amsterdam. Op een heldere avond worden meerdere telescopen
opgesteld, waarmee je de sterrenhemel kunt waarnemen.
Bij bewolking worden rondleidingen door de sterrenkoepels gegeven.
De avond begint met een kinderlezing en een sterrenkundige quiz
waarbij je een leuke prijs kunt winnen. Natuurlijk gaan we ook
de allermooiste planeten, sterren en melkwegstelsels knutselen.
</p>
<p>
De sterrenkijkavond is bedoeld voor kinderen van 8 tot 14 jaar.
Aanmelden verplicht.
Het aanmeldingsformulier is op 21 februari beschikbaar op deze site.
Entree is gratis.
Neem een kopie mee van uw bevestigingsmail.
U kunt zich om 18.30 melden aan de balie in de hal van het
Science Park 904. De activiteiten beginnen om 19.00 uur.
De sterrenkijkavond duurt tot 22:00 uur.
Door een e-mail te sturen naar
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
kunt u aangeven of u op de hoogte wilt blijven van de sterrenkijkavonden.
</p>

<p>
Adres:
Science Park 904 </br>
1098 XH Amsterdam
</p>


<p>
Bereikbaarheid: </br>
Er zijn voldoende parkeerplaatsen beschikbaar op het Science Park Amsterdam.
In dit gebied is het betaald parkeren.
Met het openbaar vervoer is het Science Park Amsterdam goed bereikbaar.
Bus 40 stopt op het terrein.
Station Amsterdam Science Park is het dichtstbijzijnde treinstation. Op de
<a href="http://www.scienceparkamsterdam.nl/fileadmin/site/dokumenten/Science_Park/Plat
tegronden/A5_plattegrond_SPA_web.pdf"> plattegrond </a>
zijn de gebouwen op het Science Park Amsterdam,
waaronder het UvA-gebouw nummer 904, aangegeven.
De sterrenwacht is helaas niet bereikbaar voor rolstoelgebruikers.
Hierdoor is deelname aan het waarnemen of de rondleidingen niet mogelijk.
</p>


<p>
De sterrenkijkavond wordt georganiseerd in samenwerking met de
<a href="http://www.volkssterrenwachtamsterdam.nl/"> Volkssterrenwacht Amsterdam.</a>
</p>

<p>
Contact: </br>
Franka Buurmeijer MSc </br>
Anton Pannekoek Instituut voor Sterrenkunde </br>
E-mail: <a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a> </br>
Telnr: +31 (0)20-5257480
</p>



<p>
<object width="550" height="400"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to=" width="550" height="400"></embed></object>
</p>


{% endblock contents %}
