{% extends "publiek/starnights/base.html" %}
{% block title %}API - Sterrenkijkavonden{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url publiek:starnights %}">Starnights</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API Sterrenkijkavond</h1>

<p>
Heeft u altijd al eens telescopen en de sterrenhemel van dichtbij willen bekijken?
Vrijdag 26 september vindt de eerste sterrenkijkavond plaats van het seizoen 2014-2015.
Aan het begin van de avond en bij bewolking worden rondleidingen door de sterrenkoepels gegeven
en maken leden van de Volkssterrenwacht Amsterdam u alvast wegwijs aan de hemel in het Astrocafé.
Als het aan het eind van de avond helder is dan worden de telescopen op het firmament gericht,
zodat u de sterrenhemel kunt waarnemen. De avond wordt begonnen met een lezing door
een professioneel sterrenkundige.
</p>
<p>
De lezing begint om 19.00 uur. De sterrenkijkavond duurt tot 22.00 uur.
U kunt zich vanaf 19 september 12:00 uur aanmelden door middel van het aanmeldingsformulier
en aangeven of u via e-mail op de hoogte wilt blijven van de sterrenkijkavonden.
Het laatste kunt u ook aangeven door een e-mail te sturen naar
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
Maximaal 80 bezoekers kunnen de sterrenkijkavond bijwonen. Deelname is gratis.
<p>


<!--
<p>
Bekijk de sterrenhemel met de telescopen of volg een
rondleiding door de sterrenkoepels!
Het laatste onderzoek komt aan bod in de lezing.
</p>
<p>
De volgende sterrenkijkavond vindt plaats op vrijdag 26 september 2014.
Dit is de eerste sterrenkijkavond van het seizoen 2014-2015.
Te zijner tijd zal op deze pagina meer informatie verschijnen.
Door een e-mail te sturen naar
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
kunt u aangeven of u op de hoogte wilt blijven van de sterrenkijkavonden.
</p>
-->

<p>
Adres:
Science Park 904 </br>
1098 XH Amsterdam
</p>


<p>
Bereikbaarheid: </br>
Er zijn voldoende parkeerplaatsen beschikbaar op het Science Park Amsterdam.
In dit gebied is het betaald parkeren.
Met het openbaar vervoer is het Science Park Amsterdam goed bereikbaar.
Bus 40 stopt op het terrein.
Station Amsterdam Science Park is het dichtstbijzijnde treinstation. Op de
<a href="http://www.scienceparkamsterdam.nl/fileadmin/site/dokumenten/Science_Park/Plat
tegronden/A5_plattegrond_SPA_web.pdf"> plattegrond </a>
zijn de gebouwen op het Science Park Amsterdam,
waaronder het UvA-gebouw nummer 904, aangegeven.
De sterrenwacht is helaas niet bereikbaar voor rolstoelgebruikers.
Hierdoor is deelname aan het waarnemen of de rondleidingen niet mogelijk.
</p>


<p>
De sterrenkijkavond wordt georganiseerd in samenwerking met de
<a href="http://www.volkssterrenwachtamsterdam.nl/"> Volkssterrenwacht Amsterdam.</a>
</p>

<p>
Contact: </br>
Franka Buurmeijer MSc </br>
Anton Pannekoek Instituut voor Sterrenkunde </br>
E-mail: <a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a> </br>
Telnr: +31 (0)20-5258316
</p>

<p>
<iframe width="553" height="480" src="http://www.at5.nl/embed/iframe?e=15946" frameborder="0" allowfullscreen></iframe>
</p>


<!--
<p>
<object width="550" height="400"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to=" width="550" height="400"></embed></object>
</p>
-->


{% endblock contents %}
