{% extends "publiek/starnights/base.html" %}
{% block title %}API - Stargazing nights{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url publiek:starnights %}">Starnights</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API Stargazing night</h1>


<p>
Always wanted to take a look through a telescope to admire the night sky?
Or wanted to ask lots of questions about astronomy?
On 27 februari an English stargazing night takes place at the Anton
Pannekoek Institute for Astronomy in Amsterdam.
Several professional telescopes will be pointed at
the night sky to observe the moon, planets and stars.
Professional and amateur astronomers will teach you about the night sky on
a cloudy evening, while astronomy students all give tours through
the domes. The stargazing night starts with a lecture.
</p>

<p>
Pre-registration is necessary.
Registration will be possible from 20 februari 11:00h by a form on this website.
80 people can attend the stargazing night. No entrance fee.
The activities start at 19.00h sharp, and the evening ends at 22.00h.
If you would like to stay informed about the stargazing nights please send
an e-mail to
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
</p>

<p>
Address:
Anton Pannekoek Institute for Astronomy </br>
Science Park 904 </br>
1098 XH Amsterdam </br>
You will be welcomed at the reception.
</p>

<p>
Many paid parking spots are available at the Science Park Amsterdam.
The Science Park can easily be reached by public transport:
the train and bus 40 stop regularly. The
<a href="http://www.scienceparkamsterdam.nl/fileadmin/site/dokumenten/Science_Park/Plattegronden/A5_plattegrond_SPA_web.pdf"> map </a>
shows the buildings in the area, including Science Park 904.
The observatory can not be reached by disabled visitors.
Participating in the observing and the tours is therefore not possible.
</p>

<p>
The stargazing night is organized in cooperation with the amateur society
<a href="http://www.volkssterrenwachtamsterdam.nl/"> Volkssterrenwacht Amsterdam.</a>
</p>

<p>
Contact: </br>
Franka Buurmeijer MSc </br>
Anton Pannekoek Instituut voor Sterrenkunde </br>
E-mail: <a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a> </br>
Telnr: +31 (0)20-5257491
</p>


<p>
<iframe src="http://www.at5.nl/video/105085"  width="480"  height="270"  frameborder="0"  scrolling="auto"></iframe>
</p>


<p>
<object width="550" height="400"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to=" width="550" height="400"></embed></object>
</p>


{% endblock contents %}
