{% extends "publiek/starnights/base.html" %}
{% block title %}API - Sterrenkijkavonden{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url publiek:starnights %}">Starnights</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API Sterrenkijkavonden</h1>

<p>
<object width="400" height="300"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157633275268806%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157633275268806%2F&set_id=72157633275268806&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157633275268806%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157633275268806%2F&set_id=72157633275268806&jump_to=" width="400" height="300"></embed></object>
</p>

<p>
Heeft u altijd al eens de sterrenhemel van dichtbij willen bekijken?
Vrijdag 26 april vindt de tweede sterrenkijkavond plaats bij
het Sterrenkundig Instituut Anton Pannekoek aan de Universiteit van Amsterdam.
Op een heldere avond worden meerdere telescopen opgesteld,
waarmee u de sterrenhemel kunt waarnemen.
Bij bewolking vinden rondleidingen door de sterrenkoepels plaats.
Voorafgaand wordt een sterrenkundige lezing gegeven.
</p>

<p>
<!--
Nadere informatie over de sterrenkundige lezing wordt binnenkort bekend gemaakt.
-->
De lezinggever is astroseismologe dr. ir. Saskia Hekker.
Met de Kepler-ruimtetelescoop onderzoekt zij de trillingen in
zonachtige sterren en rode reuzen. De trillingen van dergelijke
sterren brengen  eigenschappen aan het licht zoals hun straal en massa.
Uit de trillingen is ook informatie af te leiden over de samenstelling
van zulke sterren. Aangezien onze zon over vijf miljard jaar ook
een rode reus zal worden onderzoekt Hekker de toekomst van onze zon.
</p>

<p>
Op vrijdagavond 26 april zijn zowel de planeet Jupiter als Saturnus zichtbaar.
Jupiter is nabij het westen zichtbaar, maar verdwijnt naar verloop van tijd
onder de horizon. Daarentegen komt Saturnus met haar majestueuze ringen steeds
hoger aan de hemel te staan in het zuidoosten. Het sterrenstelsel M81 is de
hele avond te zien net als de ster Mizar. Mizar is de eerste visuele dubbelster
die werd ontdekt. Tegenwoordig weten we dat Mizar een stersysteem is dat uit
vier sterren bestaat die door de zwaartekracht zijn gebonden.
In het Noordwesten, nabij het sterrenbeeld Perseus, is Caldwell 14 te zien.
Dit object bestaat uit twee open sterrenhopen die zich naast elkaar bevinden.
</p>

<p>
De lezing begint om 19.00 uur. De sterrenkijkavond duurt tot 21.30 uur.
U kunt door middel van het
<a href="{% url publiek:aanmeldingsformulier %}"> aanmeldingsformulier </a>
aangeven of u de komende sterrenkijkavond zult bijwonen en of u via
de e-mail op de hoogte wilt blijven van de sterrenkijkavonden.
Het laatste kunt u ook aangeven door een e-mail te sturen naar
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl.</a>
Maximaal 80 bezoekers kunnen de sterrenkijkavond bijwonen.
Deelname is gratis.
<!--
Wij vragen een kleine bijdrage van €2,50.
-->
</p>

<p>
Adres:
Science Park 904 </br>
1098 XH Amsterdam
</p>

<p>
U wordt ontvangen in de centrale hal.
</p>

<p>
Bereikbaarheid: </br>
Er zijn voldoende parkeerplaatsen beschikbaar op het Science Park Amsterdam.
In dit gebied is het betaald parkeren.
Met het openbaar vervoer is het Science Park Amsterdam goed bereikbaar.
Bus 40 stopt op het terrein.
Station Amsterdam Science Park is het dichtstbijzijnde treinstation. Op de
<a href="http://www.scienceparkamsterdam.nl/fileadmin/site/dokumenten/Science_Park/Plattegronden/A5_plattegrond_SPA_web.pdf"> plattegrond </a>
zijn de gebouwen op het Science Park Amsterdam,
waaronder het UvA-gebouw nummer 904, aangegeven.
De sterrenwacht is helaas niet bereikbaar voor rolstoelgebruikers.
Hierdoor is deelname aan het waarnemen of de rondleidingen niet mogelijk.
</p>

<!--
<p>
Volg het API ook op <a href="https://www.facebook.com/anton.pannekoek?fref=ts"> Facebook </a>
</p>
-->

<p>
De sterrenkijkavond wordt georganiseerd in samenwerking met de
<a href="http://www.volkssterrenwachtamsterdam.nl/"> Volkssterrenwacht Amsterdam.</a>
</p>

<p>
Contact: </br>
Franka Buurmeijer MSc </br>
Sterrenkundig Instituut Anton Pannekoek </br>
E-mail: F.Buurmeijer@uva.nl </br>
Telnr: +31 (0)20-5257480
</p>

<p>
<object width="400" height="300"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157632714483663%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157632714483663%2F&set_id=72157632714483663&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157632714483663%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157632714483663%2F&set_id=72157632714483663&jump_to=" width="400" height="300"></embed></object>
</p>


{% endblock contents %}
