{% extends "publiek/starnights/base.html" %}
{% block title %}API - Sterrenkijkavonden{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url publiek:starnights %}">Starnights</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API Sterrenkijkavonden</h1>


<p>
De sterrenkijkavond van 20 december 2013 is helaas afgelast vanwege
de kerstvakantie. De volgende sterrenkijkavond vindt plaats op
31 januari 2014. Binnenkort verschijnt op deze website meer informatie.
Door een e-mail te sturen naar
<a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>
kunt u aangeven of u op de hoogte wilt blijven van de sterrenkijkavonden.
</p>

<!--

<p>
Heeft u altijd al eens de sterrenhemel van dichtbij willen bekijken?
Vrijdag 20 december vindt een sterrenkijkavond plaats bij het
Sterrenkundig Instituut Anton Pannekoek aan de Universiteit van Amsterdam.
Op een heldere avond worden meerdere telescopen opgesteld,
waarmee u de sterrenhemel kunt waarnemen.
Bij bewolking vinden rondleidingen door de sterrenkoepels plaats.
Voorafgaand wordt een sterrenkundige lezing gegeven.
</p>

<p>
</p>

<p>
</p>


<p>
Inloop vanaf 18.30 uur, de lezing begint om 19.00 uur.
De sterrenkijkavond duurt tot 22.00 uur.
Vanaf 13 december om 11:00 uur kunt u door middel van het
 <a href="{% url publiek:aanmeldingsformulier %}"> aanmeldingsformulier </a>
aangeven of u de komende sterrenkijkavond zult bijwonen en of u via de e-mail
op de hoogte wilt blijven van de sterrenkijkavonden.
Het laatste kunt u ook aangeven door een e-mail
te sturen naar <a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a>.
Maximaal 80 bezoekers kunnen de sterrenkijkavond bijwonen. Deelname is gratis.
</p>



<p>
Adres:
Science Park 904 </br>
1098 XH Amsterdam
</p>

<p>
U wordt ontvangen in de centrale hal.
</p>

<p>
Bereikbaarheid: </br>
Er zijn voldoende parkeerplaatsen beschikbaar op het Science Park Amsterdam.
In dit gebied is het betaald parkeren.
Met het openbaar vervoer is het Science Park Amsterdam goed bereikbaar.
Bus 40 stopt op het terrein.
Station Amsterdam Science Park is het dichtstbijzijnde treinstation. Op de
<a href="http://www.scienceparkamsterdam.nl/fileadmin/site/dokumenten/Science_Park/Plat
tegronden/A5_plattegrond_SPA_web.pdf"> plattegrond </a>
zijn de gebouwen op het Science Park Amsterdam,
waaronder het UvA-gebouw nummer 904, aangegeven.
De sterrenwacht is helaas niet bereikbaar voor rolstoelgebruikers.
Hierdoor is deelname aan het waarnemen of de rondleidingen niet mogelijk.
</p>

-->


<p>
De sterrenkijkavond wordt georganiseerd in samenwerking met de
<a href="http://www.volkssterrenwachtamsterdam.nl/"> Volkssterrenwacht Amsterdam.</a>
</p>

<p>
Contact: </br>
Franka Buurmeijer MSc </br>
Sterrenkundig Instituut Anton Pannekoek </br>
E-mail: <a href="mailto:F.Buurmeijer@uva.nl">F.Buurmeijer@uva.nl</a> </br>
Telnr: +31 (0)20-5257480
</p>



<p>
<object width="550" height="400"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2F&user_id=44306922@N07&jump_to=" width="550" height="400"></embed></object>
</p>


{% endblock contents %}
