{% extends "publiek/starnights/base.html" %}
{% block title %}API - Sterrenkijkavonden{% endblock title %}
{% block breadcrumbs %}
{{ block.super }} &#187; <a href="{% url publiek:starnights %}">Starnights</a>
{% endblock breadcrumbs %}


{% block contents %}
<h1>API Sterrenkijkavonden</h1>

<p>
Heeft u altijd al eens de sterrenhemel van dichtbij willen bekijken?
Vrijdag 22 maart vindt de eerste sterrenkijkavond plaats bij
het Sterrenkundig Instituut Anton Pannekoek aan de Universiteit van Amsterdam.
Op een heldere avond worden meerdere telescopen opgesteld,
waarmee u de sterrenhemel kunt waarnemen.
Bij bewolking vinden rondleidingen door de sterrenkoepels plaats.
Voorafgaand wordt een sterrenkundige lezing gegeven.
</p>

<p>
Op vrijdag 22 maart is de planeet Jupiter vanaf het begin van de avond
tot middernacht goed zichtbaar.
De vier heldere manen van Jupiter - Io, Europa, Ganymedes en Callisto -
bevinden zich allemaal aan een kant van Jupiter.
De twee sterrenstelsel M81 en M82, die duidelijk een andere vorm hebben, zijn
de hele avond te zien net als het prachtige spiraalsterrenstelsel M51.
In het Noordwesten, nabij het sterrenbeeld Perseus, is Caldwell 14 te zien.
Dit object bestaat uit twee open sterrenhopen die zich naast elkaar bevinden.
</p>

<p>
<!--
Nadere informatie over de sterrenkundige lezing wordt binnenkort bekend gemaakt.
-->
Prof. dr. Carsten Dominik geeft een lezing over het onderzoek dat wordt
gedaan naar de vorming van planeten. Voor dit onderzoek wordt gebruik
gemaakt van ruimteobservatoria zoals Kepler dat speciaal is ontworpen
om aardachtige planeten te ontdekken rond andere sterren dan de zon,
en van telescopen op aarde. De gas- en stofschijven waarin exoplaneten
ontstaan worden veelal bestudeerd met optische telescopen zoals
de Very Large Telescope.
</p>

<p>
De lezing begint om 19.00 uur. De sterrenkijkavond duurt tot 21.30 uur.
U kunt door middel van
het <a href="{% url publiek:aanmeldingsformulier %}"> aanmeldingsformulier </a>
aangeven of u de komende sterrenkijkavond zult bijwonen en of u via
de e-mail op de hoogte wilt blijven van de sterrenkijkavonden.
Maximaal 80 bezoekers kunnen de sterrenkijkavond bijwonen.
Deelname is gratis.
<!--
Wij vragen een kleine bijdrage van €2,50.
-->
</p>

<p>
Adres: Sterrenkundig Instituut Anton Pannekoek </br>
Science Park 904 </br>
1098 XH Amsterdam
</p>

<p>
Bereikbaarheid: </br>
Er zijn voldoende parkeerplaatsen beschikbaar op het Science Park Amsterdam.
In dit gebied is het betaald parkeren.
Met het openbaar vervoer is het Science Park Amsterdam goed bereikbaar.
Bus 40 stopt op het terrein.
Station Amsterdam Science Park is het dichtstbijzijnde treinstation. Op de
<a href="http://www.scienceparkamsterdam.nl/fileadmin/site/dokumenten/Science_Park/Plattegronden/A5_plattegrond_SPA_web.pdf"> plattegrond </a>
zijn de gebouwen op het Science Park Amsterdam,
waaronder het UvA-gebouw nummer 904, aangegeven.
U wordt daar ontvangen in de centrale hal.
De sterrenwacht is helaas niet bereikbaar voor rolstoelgebruikers.
Hierdoor is deelname aan het waarnemen of de rondleidingen niet mogelijk.
</p>

<!--
<p>
Volg het API ook op <a href="https://www.facebook.com/anton.pannekoek?fref=ts"> Facebook </a>
</p>
-->

<p>
De sterrenkijkavond wordt georganiseerd in samenwerking met de
<a href="http://www.volkssterrenwachtamsterdam.nl/"> Volkssterrenwacht Amsterdam.</a>
</p>

<p>
Contact: </br>
Franka Buurmeijer MSc </br>
Sterrenkundig Instituut Anton Pannekoek </br>
E-mail: F.Buurmeijer@uva.nl </br>
Telnr: +31 (0)20-5257480
</p>

<p>
<object width="400" height="300"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157632714483663%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157632714483663%2F&set_id=72157632714483663&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=124984"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=124984" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157632714483663%2Fshow%2F&page_show_back_url=%2Fphotos%2F44306922%40N07%2Fsets%2F72157632714483663%2F&set_id=72157632714483663&jump_to=" width="400" height="300"></embed></object>
</p>


{% endblock contents %}
