{% url 'publiek:index' as publiek_index %}
{% url 'publiek:sterrenkijkavonden' as publiek_sterrenkijkavonden %}
{% url 'publiek:rondleidingen' as publiek_rondleidingen %}
{% url 'publiek:onderzoek' as publiek_onderzoek %}
{% url 'publiek:live' as publiek_live %}
{% url 'publiek:extreme' as publiek_extreme %}
{% url 'publiek:explosions' as publiek_explosions %}
{% url 'publiek:compacts' as publiek_compacts %}
{% url 'publiek:accretion' as publiek_accretion %}
{% url 'publiek:educatie' as publiek_educatie %}
{% url 'publiek:links' as publiek_links %}
{% url 'publiek:studie' as publiek_studie %}


<ul>
 <li><a {% ifequal request.path publiek_index %}class="active" {% endifequal %}href="{{ publiek_index }}">Publiek</a>
  <ul>
   <li> <a {% ifequal request.path publiek_sterrenkijkavonden %}class="active" {% endifequal %} href="{{ publiek_sterrenkijkavonden }}">Sterrenkijkavonden</a> </li>
   <li> <a {% ifequal request.path publiek_rondleidingen %}class="active" {% endifequal %} href="{{ publiek_rondleidingen }}">Rondleidingen</a> </li>
   <li> <a {% ifequal request.path publiek_onderzoek %}class="active" {% endifequal %} href="{{ publiek_onderzoek }}">Onderzoek</a>
     <ul>
      <li> <a {% ifequal request.path publiek_extreme %}class="active" {% endifequal %} href="{{ publiek_extreme }}">Extreme fysica</a>
        <ul>
          <li> <a {% ifequal request.path publiek_explosions %}class="active" {% endifequal %} href="{{ publiek_explosions }}">Explosies</a> </li>
          <li> <a {% ifequal request.path publiek_compacts %}class="active" {% endifequal %} href="{{ publiek_compacts }}">Compacte sterren</a> </li>
          <li> <a {% ifequal request.path publiek_accretion %}class="active" {% endifequal %} href="{{ publiek_accretion }}">Accretie</a> </li>
        </ul>
       </li>
      <li> <a {% ifequal request.path publiek_live %}class="active" {% endifequal %} href="{{ publiek_live }}">Op weg naar leven</a> </li>
     </ul>
   </li>
   <li> <a {% ifequal request.path publiek_educatie %}class="active" {% endifequal %} href="{{ publiek_educatie }}">Educatie</a> </li>
   <li> <a {% ifequal request.path publiek_links %}class="active" {% endifequal %} href="{{ publiek_links }}">Links</a> </li>
   <li> <a {% ifequal request.path publiek_studie %}class="active" {% endifequal %}href="{{ publiek_studie }}">Studie</a>
{% ifequal request.path publiek_studie %}
<!--
    <ul>
     <li>Studeren</li>
     <li>Projecten</li>
    </ul>
-->
{% endifequal %}
   </li>
  </ul>
 </li>
</ul>
